{include file="common/toper" /}
<div class="layui-body">
    <div style="margin-top: 5px;margin-bottom: 3px;">
    <span class="layui-breadcrumb" lay-separator=">">
        <a>运营管理</a>
        <a>内容管理</a>
        <a href="<?=url('question/index')?>">问答管理</a>
        <a><cite>添加问答</cite></a>
    </span>
        <div style="float:right;margin-right:20px;margin-bottom: 12px;">
            <a class="layui-btn layui-btn-primary layui-btn-sm" href="<?=url('question/index')?>">
                <i class="layui-icon layui-icon-return"></i>
                返回列表
            </a>
        </div>
    </div>
    <hr/>
    <div style="padding: 15px;">
        <form class="layui-form layui-form-pane1" id="addForm">
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label"><span style="color: red;">*</span>问题内容</label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入问题内容" lay-verify="required|question" name="qa_question" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <span class="layui-btn" id="addType" lay-submit lay-filter="addType">添加</span>
                    <a class="layui-btn layui-btn-primary" href="<?=url('question/index')?>">返回</a>
                </div>
            </div>
        </form>
    </div>
</div>
{include file="common/footer" /}
<script>
    layui.use(['form','upload','jquery','upload','layedit'] ,function(){
        var form = layui.form,
            $ = layui.jquery;
        form.on('radio', function(data){
            console.log(data);
        });
        form.verify({
            question: function(value){
                if(value.length < 5){
                    return '问题至少得5个字符啊';
                }
            }
        });
        form.on('submit(addType)', function(){
            $('#addType').removeAttr('lay-filter');
            $.ajax({
                'type':"post",
                'url':"<?=url('question/addQuestion')?>",
                'data':$('#addForm').serialize(),
                'success':function (result) {
                    if(result.code == '1'){
                        layer.msg(result.msg, {icon: 1, time: 2000},function () {
                            location.href="<?=url('question/index')?>";
                        });
                    }else{
                        layer.msg(result.msg, {icon: 2, time: 3000});
                    }
                },
                'error':function (error) {
                    console.log(error);
                }
            })
        });
    });
</script>
