{include file="common/toper" /}
<div class="layui-side layui-bg-black" style="top: 120px!important;">
    <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree"  lay-filter="test">
            <li class="layui-nav-item">
                <a href="javascript:;">公司简介</a>
                <!--所有商家的企业简介列表-->
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">简介列表</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">导航管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">导航列表</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">文章资讯</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">设计指南</a></dd>
                    <dd><a href="javascript:;">施工指南</a></dd>
                    <dd><a href="javascript:;">风水指南</a></dd>
                    <dd><a href="javascript:;">本地生活</a></dd>
                    <dd><a href="javascript:;">行业动态</a></dd>
                    <dd><a href="javascript:;">企业新闻</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">案例管理</a>
                <!--所有案例列表-->
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">案例列表</a></dd>
                </dl>
            </li>

            <li class="layui-nav-item">
                <a href="javascript:;">广告管理</a>
                <!--所有分站以及商家广告管理-->
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">广告列表</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">荣誉资质</a>
                <!--所有商家资质管理-->
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">资质列表</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">问答管理</a>
                <!--平台所有商家以及站点问答-->
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">问答列表</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">招聘管理</a>
                <!--所有站点，商家招聘-->
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">岗位列表</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
<div class='layui-body'>
    <iframe id='option' src="<?=url('index/welcome')?>" frameborder='no' width='100%' height='99%'>
    </iframe>
</div>
{include file="common/footer" /}