{include file="common/header" /}
<!-- 页面主体 -->
<!-- 焦点图 -->
<div class="comban">
    <img src="__PUBLIC__/images/commerce-ban.png" alt="">
</div>

<!-- 请选择类型 -->
<div class="commerce-type">
    <div class="commerce-title">
        <img src="__PUBLIC__/images/commerce1.png" alt="">
    </div>
    <ul class="con clearfix">
        <li>
            <i>
                <img src="__PUBLIC__/images/commerce.png" alt="">
            </i>
            广告合作
        </li>
        <li>
            <i>
                <img src="__PUBLIC__/images/commerce.png" alt="">
            </i>
            房产中介
        </li>
        <li>
            <i>
                <img src="__PUBLIC__/images/commerce.png" alt="">
            </i>
            办公租赁
        </li>
        <li>
            <i>
                <img src="__PUBLIC__/images/commerce.png" alt="">
            </i>
            法律咨询
        </li>
        <li>
            <i>
                <img src="__PUBLIC__/images/commerce.png" alt="">
            </i>
            空调消防
        </li>
        <li>
            <i>
                <img src="__PUBLIC__/images/commerce.png" alt="">
            </i>
            家具供应商
        </li>
        <li>
            <i>
                <img src="__PUBLIC__/images/commerce.png" alt="">
            </i>
            其他
        </li>
    </ul>
</div>


<!-- 加入我们团队 -->
<div class="commerce-jiaru">
    <div class="jiaru-title">
        <div class="clearfix">
            <i class="fl"></i>
            <span>加入我们的团队</span>
            <i class="fr"></i>
        </div>
        <em>HR-Email:huhang315@163.com</em>
    </div>
    <div class="jiaru-container">
        <p>
            <span>前台接待</span>
            <span>商务经理</span>
            <span>在线客服</span>
            <span>人事专员</span>
        </p>
        <p>
            <span>前台接待</span>
            <span>商务经理</span>
            <span>在线客服</span>
            <span>人事专员</span>
        </p>
    </div>
</div>


<!-- 页面主体结束 -->
<!-- footer -->
{include file="common/footer" /}
{include file="common/bottom" /}