{include file="common/toper" /}
<div class="layui-body">
    <fieldset class="layui-elem-field layui-field-title" >
        <legend>网站首页</legend>
    </fieldset>
    <div style="padding: 20px;float: left;">
        <button class="layui-btn layui-btn-normal layui-btn-radius" style="border-radius: 50%;height:120px;width: 120px;"></button>
        <span>今日预约</span>
    </div>
    <div style="padding: 20px;float: left;">
        <button class="layui-btn layui-btn-normal layui-btn-radius" style="border-radius: 50%;height:120px;width: 120px;"></button>
        <span>本周预约</span>
    </div>
    <div style="padding: 20px;float: left;">
        <button class="layui-btn layui-btn-normal layui-btn-radius" style="border-radius: 50%;height:120px;width: 120px;"></button>
        <span>本月预约</span>
    </div>
    <div style="padding: 20px;float: left;">
        <button class="layui-btn layui-btn-normal layui-btn-radius" style="border-radius: 50%;height:120px;width: 120px;"></button>
        <span>累计</span>
    </div>
</div>
{include file="common/footer" /}
