/*
 * @Author: caolei 
 * @Date: 2018-06-06 14:45:15 
 * @Last Modified by: caolei
 * @Last Modified time: 2018-06-14 16:29:32
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
html,
body {
  width: 100%;
}
body {
  color: #555;
  font-size: 14px;
  font-family: "Microsoft YaHei";
}
a {
  color: #555;
}
a,
a:hover {
  text-decoration: none;
}
input,
textarea,
select,
button {
  font: 14px Verdana, Helvetica, Arial, sans-serif;
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}
em,
i {
  font-style: normal;
}
ul li,
ol li {
  list-style: none;
}
.cur {
  cursor: pointer;
}
.clearfix:after,
.clearfix:before {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.con {
  width: 1200px;
  margin: 0 auto;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.none {
  display: none;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #808080;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #808080;
  opacity: 1;
}
input:-ms-input-placeholder {
  color: #808080;
  opacity: 1;
}
input::-webkit-input-placeholder {
  color: #808080;
  opacity: 1;
}
input[type=number] {
  -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.layui-btn-red {
  background-color: #E9131B!important;
}
.text-red {
  color: #E9131B;
}
/**/
/* 通用顶部 */
body {
  background: #fefefe;
}
.layui-breadcrumb a:hover {
  color: #E9131B!important;
}
.layui-form-select dl dd.layui-this {
  background-color: #f2f2f2;
  color: #333;
}
.in-top-bg {
  width: 100%;
  height: 36px;
  color: #333;
  line-height: 36px;
  background: #F5F5F5;
}
.in-top-bg .layui-breadcrumb a {
  color: #333!important;
}
.in-top-bg .layui-breadcrumb a:hover {
  color: #E9131B!important;
}
.in-top-bg .left i {
  display: inline-block;
  margin-right: 10px;
  margin-top: -1px;
}
.in-top-bg .left span {
  display: inline-block;
  margin-left: 3px;
  cursor: pointer;
}
.in-top-bg .right em {
  display: inline-block;
  margin-left: 20px;
}
.in-top-bg .right em i {
  display: inline-block;
  margin-right: 5px;
  margin-top: -2px;
}
.in-logo-bg {
  background: #ffffff;
}
.in-logo {
  height: 90px;
  line-height: 90px;
}
.nav-bg {
  height: 40px;
  background: #000000;
  color: #ffffff;
}
.nav-bg ul > li {
  width: 150px;
  text-align: center;
  line-height: 40px;
  float: left;
  margin-top: -5px;
  cursor: pointer;
}
.nav-bg ul > li:hover {
  background: #E9131B;
}
.nav-bg ul > li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #fff;
}
.layui-carousel img {
  height: 484px;
}
.ban-form {
  position: absolute;
  left: 360px;
  top: 33px;
  z-index: 9999;
  width: 330px;
  height: 425px;
  background: #ffffff;
  padding: 22px 25px;
}
.ban-form h2 {
  text-align: center;
  margin-bottom: 18px;
  font-size: 22px;
  color: #333333;
}
.ban-form .layui-input-block {
  margin-left: 0;
}
.ban-form .layui-form-item .layui-input-inline {
  width: 135px;
}
.ban-form .layui-form-item .layui-input-inline:last-child {
  margin-right: 0;
}
.ban-form .layui-form-select dl dd.layui-this {
  background: #eee;
}
.ban-form p {
  text-align: center;
}
.ban-form button {
  background: url(../images/c.png) no-repeat 58px center;
}
.nav-bar {
  margin-top: 20px;
  border: 1px solid #CDCDCD;
}
.nav-bar li {
  width: 199px;
  height: 100px;
  border-right: 1px solid #CDCDCD;
  padding: 30px;
  background: #fff;
  float: left;
}
.nav-bar li:last-child {
  border-right: none;
}
.nav-bar li span {
  display: block;
  margin-left: 14px;
}
.nav-bar li em {
  display: block;
}
.office-tab-btn {
  background: #fffbfb;
  height: 40px;
  line-height: 40px;
  margin: 18px 0 8px;
  border: 1px solid #DEDEDE;
}
.office-tab-btn a {
  display: inline-block;
  font-size: 12px;
  margin-right: 20px;
}
.office-tab-btn span {
  display: inline-block;
  width: 125px;
  text-align: center;
  cursor: pointer;
  float: left;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
}
.office-tab-btn .btn-this {
  background: #ffffff;
  border-top: 2px solid #E9131B;
  color: #E9131B;
  height: 40px;
  margin-top: -1px;
  margin-left: -1px;
  border-right: 1px solid #DEDEDE;
  border-left: 1px solid #DEDEDE;
}
.office-tab-contain li {
  display: none;
}
.office-tab-contain li:first-child {
  display: block;
}
.office-tab-contain li .left {
  width: 594px;
  overflow: hidden;
}
.office-tab-contain li .left:hover img {
  transform: scale(1.1);
}
.office-tab-contain li .left img {
  width: 594px;
  height: 442px;
  transition: .5s;
}
.office-tab-contain li .right {
  margin-left: 9px;
  width: 592px;
}
.office-tab-contain li .right span {
  display: inline-block;
  overflow: hidden;
  float: left;
  margin-bottom: 12px;
  margin-right: 10px;
}
.office-tab-contain li .right span:nth-of-type(2n) {
  margin-right: 0;
}
.office-tab-contain li .right span:hover img {
  transform: scale(1.1);
}
.office-tab-contain li .right span img {
  width: 290px;
  height: 215px;
  transition: .5s;
}
.office-lists {
  height: 150px;
  border: 1px solid #ddd;
  padding: 12px 65px 0;
}
.office-lists ul {
  height: 100%;
}
.office-lists ul li {
  display: inline-block;
  text-align: center;
  margin-right: 73px;
  float: left;
}
.office-lists ul li span {
  display: inline-block;
}
.office-lists ul li span:hover img {
  transform: scale(1.2);
}
.office-lists ul li span img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  transition: .3s;
}
.office-lists ul li:last-child {
  margin-right: 0;
}
.office-lists ul li p {
  margin-top: 10px;
}
.partner ul {
  border: 1px solid #CDCDCD;
  border-bottom: none;
  margin-top: 15px;
  border-left: none;
}
.partner li {
  float: left;
  border-left: 1px solid #CDCDCD;
  padding: 0 4px;
  border-bottom: 1px solid #ddd;
  position: relative;
}
.partner li em {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  display: block;
  opacity: 0;
  text-align: center;
  line-height: 80px;
  color: #000000;
  font-size: 20px;
  transition: .5s;
}
.partner li:hover em {
  opacity: 0.9;
}
.partner li img {
  width: 100%;
  height: 80px;
}
.com-lists {
  margin-top: 20px;
}
.com-lists div {
  width: 594px;
  border: 1px solid #DEDEDE;
}
.com-lists div h3 {
  height: 40px;
  line-height: 40px;
  background: #fffbfb;
  border-bottom: 1px solid #DEDEDE;
  padding: 0px 15px;
}
.com-lists div ul {
  background: #ffffff;
  padding: 20px 15px 10px;
}
.com-lists div ul li {
  margin-bottom: 12px;
}
.com-lists div ul li a {
  color: #666666;
}
.com-lists div ul li a:hover {
  color: #E9131B;
}
.com-lists div ul li span {
  margin-right: 10px;
  display: inline-block;
  width: 15px;
  height: 15px;
  font-size: 12px;
  background: #dddddd;
  text-align: center;
  color: #ffffff;
  line-height: 15px;
}
.com-lists div ul li i {
  color: #999999;
}
.com-lists div ul li:first-child span {
  background: #e9131b;
}
.com-lists div ul li:nth-of-type(2) span,
.com-lists div ul li:nth-of-type(3) span {
  background: #FF5722;
}
.com-lists div ul li em {
  display: inline-block;
  margin-left: 132px;
  color: #e9131b;
}
.com-adv {
  margin: 20px auto 20px;
}
.bidding-left {
  width: 900px;
}
.bidding-left .layui-table td {
  padding: 19px 15px;
}
.bidding-left .layui-table thead tr {
  background-color: #fffbfb;
}
.bidding-left .layui-table tbody tr:hover {
  background-color: #fffbfb;
}
.bidding-left .layui-table td,
.bidding-left .layui-table th {
  font-size: 16px;
}
.bidding-left td {
  text-align: left;
}
.bidding-left td span {
  display: block;
  font-size: 12px;
  color: #999;
}
.bidding-left td button {
  width: 100px;
  height: 26px;
  font-size: 12px;
  line-height: 26px;
  margin-top: 5px;
  background-color: #999;
}
.bidding-left td h3 {
  color: #555555;
  font-weight: 600;
}
.bidding-right {
  width: 290px;
  margin-top: 10px;
}
.bidding-right .top {
  border: 1px solid #DEDEDE;
}
.bidding-right .top ul {
  padding: 0 25px;
}
.bidding-right .top li {
  padding: 18px 0;
  border-bottom: 1px dashed #DEDEDE;
}
.bidding-right .top li em {
  display: inline-block;
  margin-right: 10px;
}
.bidding-right .top li em img {
  width: 40px;
}
.bidding-right .top li div h4 {
  font-size: 16px;
  color: #333333;
  margin-bottom: 4px;
}
.bidding-right .top li:last-child {
  border-bottom: none;
}
.bidding-right .top > div {
  height: 108px;
  background: #eee;
  padding: 17px;
  font-size: 12px;
  border-top: 1px solid #DEDEDE;
}
.bidding-right .top > div p {
  font-size: 14px;
  color: #333333;
}
.bidding-right .top > div i {
  display: inline-block;
  margin-top: 8px;
  color: #666666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.bidding-right .top > div i em {
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #535353;
  float: left;
  margin-top: 7px;
  margin-right: 5px;
}
.bidding-right .bto {
  margin-top: 20px;
  border: 1px solid #DEDEDE;
}
.bidding-right .bto h3 {
  height: 40px;
  line-height: 40px;
  background: #fffbfb;
  padding: 0px 10px;
  font-size: 16px;
  color: #333333;
}
.bidding-right .bto h3 i {
  display: inline-block;
  margin-right: 5px;
}
.bidding-right .bto h3 a {
  color: #666666;
  font-size: 14px;
}
.bidding-right .bto h3 a:hover {
  color: #777;
}
.bidding-right .bto ul {
  padding: 0px 16px;
}
.bidding-right .bto ul li {
  padding: 15px 0 13px;
  border-bottom: 1px dashed #DEDEDE;
  margin-bottom: 13px;
}
.bidding-right .bto ul li div {
  margin-bottom: 10px;
}
.bidding-right .bto ul li div span {
  width: 216px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.bidding-right .bto ul li div a {
  display: inline-block;
  width: 216px;
}
.bidding-right .bto ul li div img {
  width: 24px;
  height: 24px;
}
.bidding-right .bto .bto-btn {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 15px;
}
.bidding-right .bto .bto-btn a {
  width: 100px;
  height: 26px;
  line-height: 26px;
}
.Links {
  border: 1px solid #DEDEDE;
  margin-top: 20px;
}
.Links h3 {
  height: 36px;
  line-height: 36px;
  background: #fffbfb;
  border-bottom: 1px solid #DEDEDE;
  padding: 0px 10px;
  font-size: 16px;
}
.Links ul {
  background: #ffffff;
  padding: 18px 35px;
}
.Links ul li {
  margin-bottom: 10px;
}
.Links ul li:last-child {
  margin-bottom: 0;
}
.Links ul li a {
  display: inline-block;
  margin-right: 76px;
}
.Links ul li a:hover {
  color: #FF5722;
}
.Links ul li a:last-child {
  margin-right: 0;
}
.footer {
  height: 156px;
  margin-top: 20px;
  background: #313131;
  color: #ffffff;
  padding-top: 27px;
}
.footer .footer-left ul {
  border-right: 1px solid #7D7D7D;
}
.footer .footer-left li {
  margin-right: 85px;
  float: left;
}
.footer .footer-left h3 {
  margin-bottom: 10px;
}
.footer .footer-left a {
  display: block;
  color: #999999;
  font-size: 12px;
  margin-bottom: 7px;
}
.footer .footer-left a:hover {
  color: #ddd;
}
.footer .footer-mider {
  padding: 0px 101px;
  border-right: 1px solid #7D7D7D;
}
.footer .footer-mider div {
  display: inline-block;
}
.footer .footer-mider div:last-child {
  margin-left: 30px;
}
.footer .footer-mider div img {
  width: 66px;
  height: 66px;
}
.footer .footer-mider div em {
  display: block;
  text-align: center;
  margin-top: 10px;
}
.footer .footer-right {
  margin-left: 91px;
}
.footer .footer-right p {
  margin-bottom: 15px;
}
.footer .footer-right img {
  margin-right: 5px;
}
.Step {
  height: 105px;
  background: #000;
  padding-top: 18px;
  text-align: center;
}
.Step .Step-con .layui-breadcrumb a {
  color: #999999!important;
}
.Step .Step-con p {
  color: #999999;
  margin-top: 5px;
}
.Step .Step-con p a {
  display: inline-block;
  margin-right: 5px;
}
.Step .Step-con p a:hover {
  color: #999!important;
}
.crumbs {
  margin: 12px auto;
}
.comban {
  position: relative;
}
.comban img {
  width: 100%;
}
.comban .comban-con {
  position: absolute;
  display: inline-block;
  width: 327px;
  top: 103px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.comban .comban-con div {
  background: #ffffff;
  border-radius: 2px;
  height: 38px;
  margin-bottom: 10px;
}
.comban .comban-con div input {
  width: 277px;
  border: none;
  height: 38px;
  padding-left: 10px;
}
.comban .comban-con p {
  padding: 0px 5px;
}
.comban .comban-con p a {
  color: #ffffff;
  display: inline-block;
  margin-right: 26px;
}
.comban .comban-con p a:hover {
  color: #ff6600;
}
.comban .comban-con p a:last-child {
  margin-right: 0;
}
.porject-filter {
  height: 88px;
  background: #ffffff;
  border: 1px solid #DEDEDE;
}
.porject-filter .filter-left {
  width: 122px;
  text-align: center;
  border-right: 1px solid #DEDEDE;
}
.porject-filter .filter-left p {
  height: 44px;
  line-height: 44px;
}
.porject-filter .filter-left p img {
  margin-right: 5px;
}
.porject-filter .filter-left p:first-child {
  border-bottom: 1px solid #DEDEDE;
}
.porject-filter .filter-right .filter-this {
  background: #ff6600;
}
.porject-filter .filter-right li {
  height: 44px;
  line-height: 44px;
  padding-left: 20px;
}
.porject-filter .filter-right li span {
  display: inline-block;
  width: 38px;
  height: 28px;
  background: #999999;
  text-align: center;
  line-height: 28px;
  color: #ffffff;
  border-radius: 2px;
  margin-right: 27px;
  cursor: pointer;
}
.porject-filter .filter-right li a {
  display: inline-block;
  margin-right: 27px;
}
.Display-lists {
  margin: 20px auto 0;
}
.Display-lists li {
  width: 291px;
  border: 1px solid #DEDEDE;
  float: left;
  margin-right: 11px;
  margin-bottom: 12px;
}
.Display-lists li i {
  display: inline-block;
  overflow: hidden;
}
.Display-lists li i img {
  width: 100%;
  height: 289px;
  transition: .5s;
}
.Display-lists li div {
  width: 100%;
  background: #fff;
  padding: 10px 8px;
}
.Display-lists li div h3 {
  margin-bottom: 10px;
  color: #333333;
}
.Display-lists li div p span {
  color: #666666;
}
.Display-lists li:nth-of-type(4n) {
  margin-right: 0;
}
.Display-lists li:hover {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}
.Display-lists li:hover img {
  transform: scale(1.1);
}
.paging {
  text-align: center;
}
.paging .paging-con {
  display: inline-block;
}
.paging .paging-con .layui-btn-primary:hover {
  border-color: #E9131B;
}
.paging .paging-con .layui-btn-sm {
  height: 32px;
  line-height: 32px;
}
.paging .paging-con p {
  display: inline-block;
}
.paging .paging-con p a {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  margin-right: 10px;
  background: #ffffff;
  border: 1px solid #DEDEDE;
}
.paging .paging-con p span input {
  width: 32px;
  height: 32px;
  border: 1px solid #ddd;
  text-align: center;
  color: #999999;
  margin: 0 5px;
}
.paging .paging-con p span button {
  margin-top: 2px;
  margin-left: 10px;
}
.paging .paging-con .paging-this {
  background: #E9131B;
  color: #ffffff;
  border: 1px solid #E9131B;
}
.step-nav {
  height: 180px;
  margin-top: 20px;
  background: #ffffff;
  border: 1px solid #DEDEDE;
  padding: 34px 45px;
}
.step-nav li {
  float: left;
  margin-right: 48px;
  display: inline-block;
}
.step-nav li p {
  margin-top: 12px;
  text-align: center;
}
.step-nav li:last-child {
  margin-right: 0;
}
.project-show-left {
  width: 900px;
}
.project-show-left > div {
  background: #ffffff;
}
.project-show-left .top {
  padding: 17px 22px;
  border: 1px solid #DEDEDE;
}
.project-show-left .top .swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.project-show-left .top .gallery-top img {
  width: 100%;
  height: 446px;
}
.project-show-left .top .swiper-slide {
  background-size: cover;
  background-position: center;
}
.project-show-left .top .gallery-top {
  height: 80%;
  width: 100%;
}
.project-show-left .top .gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}
.project-show-left .top .gallery-thumbs .swiper-slide-active {
  opacity: 1;
}
.project-show-left .top .swiper-button-prev {
  background-image: url(../images/prev.png);
}
.project-show-left .top .swiper-button-next {
  background-image: url(../images/next.png);
}
.project-show-left .top .swiper-button-prev,
.project-show-left .top .swiper-button-next {
  width: 50px;
  height: 110px;
  top: 45%;
  background-color: rgba(0, 0, 0, 0.3);
}
.project-show-left .media {
  height: 140px;
  margin-top: 12px;
  border: 1px solid #DEDEDE;
  padding: 14px 18px;
}
.project-show-left .media .swiper-slide {
  border: 2px solid transparent;
  transition: .8s;
}
.project-show-left .media .swiper-slide:hover {
  opacity: 0.8;
}
.project-show-left .media .gallery-thumbs img {
  width: 100%;
  height: 114px;
}
.project-show-left .media li {
  float: left;
  margin-right: 15px;
}
.project-show-left .media li:last-child {
  margin-right: 0;
}
.project-show-left .media li img {
  width: 160px;
  height: 112px;
}
.project-show-left .bto {
  margin-top: 12px;
  height: 120px;
  padding: 25px 28px;
  border: 1px solid #DEDEDE;
}
.project-show-right {
  width: 280px;
  background: #ffffff;
  border: 1px solid #DEDEDE;
}
.project-show-right img {
  width: 280px;
  height: 150px;
}
.project-show-right h3 {
  font-size: 20px;
  color: #333333;
  text-align: center;
  margin: 17px 0 13px;
}
.project-show-right .delegate {
  padding: 0px 13px;
  border-bottom: 1px solid #DEDEDE;
}
.project-show-right .delegate .layui-input-block {
  margin-left: 0;
}
.project-show-right .delegate .layui-input-inline {
  width: 121px;
}
.project-show-right .delegate .layui-input-inline:last-child {
  margin-right: 0;
}
.project-show-right .delegate button {
  font-size: 16px;
}
.project-show-right .delegate > p {
  margin: 15px 0 22px;
  text-align: center;
  color: #333333;
}
.project-show-right .delegate > p em {
  color: #E9131B;
}
.project-show-right .Uploadend-by {
  padding: 22px 14px;
  color: #333333;
}
.project-show-right .Uploadend-by p {
  margin-bottom: 10px;
}
.the-con-left {
  width: 900px;
}
.the-con-left .top {
  height: 40px;
  line-height: 40px;
  background-color: #fffbfb;
  border: 1px solid #DEDEDE;
}
.the-con-left .top ul li {
  padding: 0 17px;
  float: left;
  margin-right: 45px;
}
.the-con-left .top ul li i img {
  margin-top: -2px;
}
.the-con-left .bto {
  font-size: 12px;
  border-left: 1px solid #DEDEDE;
  border-right: 1px solid #DEDEDE;
}
.the-con-left .bto ol li {
  border-bottom: 1px solid #DEDEDE;
  padding: 20px 31px;
}
.the-con-left .bto ol li .bto-left {
  border: 1px solid #DEDEDE;
}
.the-con-left .bto ol li .bto-left img {
  width: 138px;
  height: 138px;
}
.the-con-left .bto ol li .bto-media {
  margin-left: 26px;
}
.the-con-left .bto ol li .bto-media h3 {
  font-size: 18px;
  color: #333333;
  margin-bottom: 12px;
}
.the-con-left .bto ol li .bto-media .bto-media-type {
  height: 24px;
  line-height: 24px;
  margin-bottom: 10px;
}
.the-con-left .bto ol li .bto-media .bto-media-type i {
  display: inline-block;
  margin-right: 10px;
  color: #666666;
}
.the-con-left .bto ol li .bto-media .certified {
  height: 24px;
  line-height: 23px;
}
.the-con-left .bto ol li .bto-media .certified .layui-badge-rim {
  height: 24px;
  line-height: 23px;
  border-color: #E9131B;
  color: #E9131B;
  margin-right: 10px;
}
.the-con-left .bto ol li .bto-media .certified .layui-badge-rim img {
  margin-top: -1px;
}
.the-con-left .bto ol li .bto-media .certified div {
  height: 24px;
  line-height: 24px;
}
.the-con-left .bto ol li .bto-media .certified div img {
  margin-top: -3px;
}
.the-con-left .bto ol li .bto-media p {
  margin-top: 16px;
  color: #999999;
}
.the-con-left .bto .bto-right {
  width: 182px;
  text-align: center;
  position: relative;
  margin-top: 25px;
}
.the-con-left .bto .bto-right .layui-btn {
  width: 136px;
}
.the-con-left .bto .bto-right div {
  font-size: 14px;
  margin-bottom: 13px;
}
.the-con-left .bto .bto-right div i {
  display: inline-block;
  margin: 0 5px;
}
.the-con-left .bto .bto-right p {
  margin-bottom: 13px;
}
.the-con-left .bto .bto-right em i {
  color: #E9131B;
}
.con-the {
  width: 100%;
  margin: 20px  auto 0;
}
.the-con-right {
  width: 280px;
}
.the-con-right .delegate {
  padding: 0px 13px;
  border: 1px solid #DEDEDE;
}
.the-con-right .delegate h3 {
  font-size: 20px;
  color: #333333;
  text-align: center;
  margin: 17px 0 13px;
}
.the-con-right .delegate .layui-input-block {
  margin-left: 0;
}
.the-con-right .delegate .layui-input-inline {
  width: 121px;
}
.the-con-right .delegate .layui-input-inline:last-child {
  margin-right: 0;
}
.the-con-right .delegate button {
  font-size: 16px;
}
.the-con-right .delegate > p {
  margin: 15px 0 22px;
  text-align: center;
  color: #333333;
}
.the-con-right .delegate > p em {
  color: #E9131B;
}
.the-con-right .Boutique {
  border: 1px solid #dedede;
  margin: 10px 0;
}
.the-con-right .Boutique h3 {
  padding-left: 14px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  background-color: #fffbfb;
  color: #333333;
  border-bottom: 1px solid #dedede;
}
.the-con-right .Boutique .Boutique-container {
  padding: 20px 0 20px 20px;
  border-bottom: 1px dashed #DEDEDE;
}
.the-con-right .Boutique .Boutique-container span {
  display: inline-block;
  margin-right: 21px;
}
.the-con-right .Boutique .Boutique-container span img {
  margin-top: 5px;
}
.the-con-right .Boutique .Boutique-container p {
  font-size: 16px;
}
.the-con-right .Boutique .Boutique-container:last-child {
  border-bottom: none;
}
.the-con-right .Boutique .Boutique-container:hover {
  background-color: #fffbfb;
}
.the-con-right .eve-watching {
  border: 1px solid #dedede;
  padding: 22px 19px;
}
.the-con-right .eve-watching .watching-title {
  text-align: center;
  font-size: 16px;
  margin-bottom: 17px;
}
.the-con-right .eve-watching .watching-title i {
  display: inline-block;
  width: 54px;
  height: 1px;
  background-color: #e9131b;
  vertical-align: middle;
  margin-top: -2px;
}
.the-con-right .eve-watching .watching-item {
  margin-bottom: 17px;
}
.the-con-right .eve-watching .watching-item span {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.the-con-right .eve-watching .watching-item img {
  display: none;
  margin-top: 5px;
  width: 242px;
  height: 154px;
}
.the-con-right .eve-watching .watching-item:first-child img {
  display: inline;
}
.the-con-right .eve-watching .watching-item:hover span {
  color: #E9131B;
}
.com-layer .layui-layer-title {
  background: #ffffff!important;
  border-bottom: none!important;
  color: #E9131B;
  font-weight: 600;
  padding: 0 80px 0 26px;
}
.com-layer .com-layer-item {
  padding: 0 42px;
}
.com-layer .com-layer-item h2 {
  font-size: 22px;
  color: #333333;
  text-align: center;
  margin-bottom: 31px;
}
.com-layer .com-layer-item .cmo-layer-left {
  width: 256px;
  height: 138px;
  padding-top: 20px;
  border-right: 1px dashed #dedede;
  margin-right: 31px;
}
.com-layer .com-layer-item .cmo-layer-left p {
  width: 225px;
  font-size: 14px;
  color: #333333;
  text-indent: 2em;
  line-height: 24px;
}
.com-layer .com-layer-item .cmo-layer-left a.layui-btn {
  margin: 60px auto 0;
}
.com-layer .com-layer-item .cmo-layer-right {
  width: 250px;
}
.com-layer .com-layer-item .cmo-layer-right .layui-input-block {
  margin-left: 0;
}
.com-layer .com-layer-item .layui-btn {
  width: 156px;
  display: block;
  margin: 33px auto 0;
}
.layer-hide {
  display: none;
}
.nav_this {
  background: #E9131B;
}
.the-con-left .layui-tab-content {
  padding: 0!important;
}
.the-con-left .layui-tab-card > .layui-tab-title {
  background-color: #FFFBFB;
}
.the-con-left .layui-tab-card > .layui-tab-title li {
  border-top: 2px solid transparent;
  margin-top: -2px;
  padding: 0 25px;
}
.the-con-left .layui-this {
  border-top: 2px solid #E9131B!important;
}
.advisory-content li {
  padding: 21px 31px;
  border-bottom: 1px solid #ddd;
}
.advisory-content li:hover {
  background: #FFFBFB;
}
.advisory-content li span img {
  width: 140px;
  height: 140px;
}
.advisory-content li div {
  width: 672px;
  margin-left: 24px;
}
.advisory-content li div h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
.advisory-content li div h3 a {
  color: #333333;
}
.advisory-content li div h3 small {
  font-size: 16px;
}
.advisory-content li div p {
  height: 62px;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.advisory-content li div em {
  display: block;
  height: 19px;
  line-height: 19px;
  vertical-align: middle;
  color: #666666;
}
.advisory-content li div em a {
  display: inline-block;
  height: 19px;
  line-height: 19px;
  margin-top: 5px;
  color: #999999;
}
.advisory-content li div em i {
  display: inline-block;
  margin-right: 28px;
}
.advisory-con-left {
  width: 900px;
  border: 1px solid #ddd;
  padding: 16px 25px;
}
.advisory-con-left .advi-share {
  text-align: right;
}
.advisory-con-left .advi-share i {
  display: inline-block;
  margin-right: 14px;
}
.advisory-con-left .advi-share a {
  float: right;
  display: inline-block;
  margin-right: 7px;
}
.advisory-con-left h1 {
  text-align: center;
  font-size: 24px;
  color: #e9131b;
}
.advisory-con-left .advi-smallnav {
  text-align: center;
  margin: 15px 0 23px 0;
}
.advisory-con-left .advi-rea {
  padding: 26px 24px 32px 39px;
  background: #fafafa url(../images/ad6.png) no-repeat left top;
  border: 1px solid #F5F5F5;
  text-indent: 2em;
}
.advisory-con-left .advi-container p {
  line-height: 26px;
  color: #333333;
  margin: 18px 0;
}
.advisory-con-left .advi-container span {
  display: block;
  text-align: center;
  margin: 18px;
}
.advisory-con-left .advi-container img {
  width: 746px;
}
.advisory-con-left .advi-form form {
  border: 1px solid #ddd;
  padding: 24px;
}
.advisory-con-left .advi-form span img {
  width: 200px;
  height: 200px;
}
.advisory-con-left .advi-form em img {
  width: 615px;
}
.advisory-left .layui-tab {
  margin-top: 0!important;
}
/*投诉建议*/
.compla-con {
  padding-top: 151px;
}
.compla-con-left {
  margin-right: 24px;
  width: 172px;
  text-align: center;
}
.compla-con-left span {
  display: inline-block;
  margin-top: 19px;
  margin-bottom: 10px;
  font-size: 20px;
}
.compla-con-left .compla-tab-menu li {
  width: 172px;
  height: 60px;
  line-height: 60px;
  background: #ffffff;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  cursor: pointer;
}
.compla-con-left .compla-tab-menu .compla-tab-this {
  background: #E9131B;
  color: #ffffff;
}
.compla-con-right {
  text-align: center;
}
.compla-con-right h2 {
  font-size: 28px;
}
.compla-con-right p {
  margin-bottom: 10px;
}
.compla-con-right-area {
  background: #fff url(../images/comp-top.png) no-repeat center -16px;
  background-size: 1000px;
  width: 950px;
  padding-top: 150px;
  padding-bottom: 50px;
}
.compla-con-right-area span {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: left;
  padding-left: 10px;
}
.compla-con-right-area textarea {
  width: 934px;
  display: block;
  height: 260px;
  border: 1px solid #ddd;
  padding-left: 10px;
  padding-top: 10px;
  margin: 0 auto;
  resize: none;
}
.comp-btn {
  margin-top: 19px;
}
#addType {
  width: 120px;
  height: 40px;
  line-height: 40px;
  background: -webkit-linear-gradient(left, #FFAD13, #F07E17);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #FFAD13, #F07E17);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #FFAD13, #F07E17);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #FFAD13, #F07E17);
  /* 标准的语法（必须放在最后） */
}
.commerce-type {
  background: #ffffff;
  padding: 92px 0px 102px;
  text-align: center;
}
.commerce-type .commerce-title {
  margin-bottom: 30px;
}
.commerce-type li {
  width: 120px;
  height: 120px;
  border: 1px solid #ddd;
  border-radius: 50%;
  text-align: center;
  line-height: 120px;
  position: relative;
  cursor: pointer;
  margin-right: 60px;
  float: left;
}
.commerce-type li:last-child {
  margin-right: 0;
}
.commerce-type li:hover {
  border: 1px solid #E9131B;
}
.commerce-type li i {
  position: absolute;
  right: 0;
  top: -40px;
}
.commerce-jiaru {
  text-align: center;
  padding: 94px 0px 111px;
}
.commerce-jiaru .jiaru-title {
  color: #E9131B;
}
.commerce-jiaru .jiaru-title div {
  width: 562px;
  display: block;
  margin: 0 auto;
}
.commerce-jiaru .jiaru-title div span {
  font-size: 30px;
  display: inline-block;
}
.commerce-jiaru .jiaru-title div i {
  display: inline-block;
  width: 160px;
  height: 1px;
  background-color: #E9131B;
  margin-top: 20px;
}
.commerce-jiaru .jiaru-title em {
  display: inline-block;
  margin: 19px 0 40px;
}
.commerce-jiaru .jiaru-container p {
  margin-bottom: 24px;
}
.commerce-jiaru .jiaru-container span {
  display: inline-block;
  width: 168px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #333333;
  border: 1px solid #ddd;
  margin-right: 21px;
}
.commerce-layer {
  text-align: center;
}
.commerce-layer form {
  padding: 0 32px;
}
.commerce-layer h2 {
  font-size: 22px;
  color: #333333;
  margin-bottom: 5px;
}
.commerce-layer em {
  display: inline-block;
  margin-bottom: 20px;
}
.commerce-layer .layui-layer-title {
  background-color: #ffffff;
  border-bottom: none;
}
.commerce-layer .layui-input-block {
  margin-left: 0;
}
.registered {
  width: 100%;
  height: 808px;
  padding-top: 133px;
  background: #fff url(../images/login.png) no-repeat center;
}
.registered-con {
  width: 903px;
  margin: 0 auto;
  border: 1px solid #ddd;
}
.registered-con .registered-left {
  width: 498px;
  height: 513px;
  padding: 46px 61px 43px 61px;
  border-right: 1px solid #ddd;
}
.registered-con .registered-left img {
  width: 376px;
  height: 402px;
}
.registered-con .registered-right {
  width: 400px;
}
.registered-con .registered-right h2 {
  text-align: center;
  font-size: 22px;
  color: #333333;
  margin: 36px 0 19px;
}
.registered-con .registered-right form {
  padding: 10px 61px;
}
.registered-con .registered-right .layui-input-block {
  margin-left: 0;
}
.login-con {
  width: 834px;
  background: #ffffff;
  border: 1px solid  #dddddd;
  margin: 0 auto;
  position: relative;
}
.login-con .login-con-left {
  padding: 40px 0 40px;
  width: 417px;
}
.login-con .login-con-left .layui-input-inline {
  margin-left: 0;
  width: 240px;
}
.login-con .login-con-left h2 {
  text-align: center;
  color: #333333;
  font-size: 22px;
  margin-bottom: 20px;
}
.login-con .login-con-midder {
  height: 236px;
  width: 1px;
  background-color: #DEDEDE;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.login-con .login-con-midder span {
  display: inline-block;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 1px solid #ddd;
  text-align: center;
  line-height: 32px;
  position: absolute;
  left: -17px;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #ffffff;
}
.login-con .login-con-right {
  width: 414px;
  text-align: center;
}
.login-con .login-con-right h2 {
  font-size: 22px;
  color: #333333;
  margin: 39px 0 23px;
}
.login-con .login-con-right span {
  display: block;
  text-align: center;
}
.login-con .login-con-right span img {
  width: 120px;
  height: 120px;
}
.login-con .login-con-right div {
  margin: 25px 0 15px;
  display: inline-block;
  width: 272px;
}
.login-con .login-con-right div i {
  font-size: 14px;
  color: #333333;
  display: inline-block;
  margin: 0 7px;
}
.login-con .login-con-right div span {
  display: inline-block;
  width: 62px;
  height: 1px;
  margin-top: 10px;
  background-color: #dedede;
}
.login-con .login-con-right p em {
  display: inline-block;
  margin-right: 10px;
}
.login-con .login-con-right p em:last-child {
  margin-right: 0;
}
@keyframes anyun {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.release-banner {
  width: 100%;
  height: 610px;
  background: url(../images/release-ban.png) no-repeat center;
  background-size: 100% 100%;
}
.release-banner h1 {
  text-align: center;
  padding: 57px 0 17px;
}
.release-banner .release-ban-con {
  width: 980px;
  padding: 34px 0 56px;
  background: #ffffff;
  margin: 0 auto;
  position: relative;
}
.release-banner .release-ban-con .release-ban-left {
  width: 466px;
  padding-left: 50px;
}
.release-banner .release-ban-con .release-ban-left h2 {
  font-size: 20px;
  color: #333333;
  margin-top: 14px;
  margin-bottom: 10px;
}
.release-banner .release-ban-con .release-ban-left h2 small {
  font-size: 12px;
}
.release-banner .release-ban-con .release-ban-left h2 small em {
  color: #e9131b;
}
.release-banner .release-ban-con .release-ban-left .layui-form-item {
  margin-bottom: 10px;
}
.release-banner .release-ban-con .release-ban-left .layui-form-label {
  width: 90px;
  color: #333333;
  font-size: 14px;
}
.release-banner .release-ban-con .release-ban-left .layui-input-inline {
  width: 260px;
}
.release-banner .release-ban-con .release-ban-left .layui-form-radioed > i {
  color: #e9131b;
}
.release-banner .release-ban-con .release-ban-left .layui-form-radio > i:hover {
  color: #e9131b;
}
.release-banner .release-ban-con .release-ban-center {
  width: 118px;
  height: 333px;
  background: url(../images/release6.png) no-repeat center;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.release-banner .release-ban-con .release-ban-center span {
  display: inline-block;
  width: 114px;
  height: 114px;
  border-radius: 50%;
  background: #ff6600;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: -1px;
  bottom: 0;
  margin: auto;
  color: #ffffff;
  animation: anyun 2s;
  animation-iteration-count: infinite;
}
.release-banner .release-ban-con .release-ban-center em {
  display: inline-block;
  width: 80px;
  height: 80px;
  cursor: pointer;
  background-color: #ff6600;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  color: #ffffff;
  left: 0;
  right: 0;
  top: -1px;
  bottom: 0;
  margin: auto;
  padding-top: 20px;
}
.release-banner .release-ban-con .release-ban-center i {
  display: block;
}
.release-banner .release-ban-con .release-ban-right {
  width: 398px;
}
.release-banner .release-ban-con .release-ban-right h2 {
  font-size: 20px;
  color: #333333;
  margin-top: 14px;
}
.release-banner .release-ban-con .release-ban-right ul {
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  width: 292px;
  margin: 36px 0 11px;
}
.release-banner .release-ban-con .release-ban-right li {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #ddd;
}
.release-banner .release-ban-con .release-ban-right li span {
  display: inline-block;
  width: 127px;
  text-align: center;
  border-right: 1px solid #ddd;
}
.release-banner .release-ban-con .release-ban-right li em {
  display: inline-block;
  width: 158px;
  text-align: center;
}
.release-banner .release-ban-con .release-ban-right li em i {
  color: #e9131b;
}
.release-banner .release-ban-con .release-ban-right p {
  width: 292px;
  color: #999999;
  font-size: 12px;
}
.release-title {
  font-size: 30px;
  color: #666;
  padding: 51px 0 64px;
  text-align: center;
}
.release-title em {
  color: #e9131b;
}
.release-navbar {
  background-color: #ffffff;
  padding: 0px 0 104px;
}
.release-navbar h3 {
  font-size: 30px;
  color: #333333;
  text-align: center;
}
.release-navbar h3 em {
  color: #e9131b;
}
.release-navbar ul {
  width: 1070px;
  margin: 0 auto;
}
.release-navbar ul li {
  width: 145px;
  float: left;
  margin-right: 86px;
  text-align: center;
}
.release-navbar ul li span {
  display: inline-block;
  width: 122px;
  height: 122px;
  text-align: center;
  border-radius: 50%;
  line-height: 122px;
  margin-bottom: 42px;
}
.release-navbar ul li:last-child {
  margin-right: 0;
}
.release-navbar ul li p {
  margin-bottom: 5px;
}
.color-1 {
  background: #7ecbff;
}
.color-2 {
  background: #FFA336;
}
.color-3 {
  background: #FF9999;
}
.color-4 {
  background: #96D675;
}
.color-5 {
  background: #96A2DC;
}
.release-shi {
  width: 100%;
  height: 503px;
  background: url(../images/release-bg1.png) no-repeat center;
  background-size: 100% 100%;
}
.release-shi-con li {
  text-align: center;
  width: 353px;
  margin-right: 67px;
  float: left;
}
.release-shi-con li:last-child {
  margin-right: 0;
}
.release-shi-con li div {
  position: relative;
  width: 353px;
  height: 199px;
}
.release-shi-con li div:hover img {
  transform: translate(8px, 8px);
}
.release-shi-con li div img {
  position: absolute;
  top: -8px;
  right: 8px;
  width: 353px;
  height: 199px;
  transition: 0.5s;
}
.release-shi-con li p {
  margin-top: 22px;
}
.release-shi-con li span {
  display: inline-block;
  width: 102px;
  height: 1px;
  background-color: #e9131b;
}
.color-6 {
  background: #7ECEF4;
}
.color-7 {
  background: #F9D237;
}
.color-8 {
  background: #A9E5A9;
}
.color-9 {
  background: #8C97CB;
}
.color-10 {
  background: #F19EC2;
}
.color-11 {
  background: #F8B551;
}
.color-12 {
  background: #CCE198;
}
.color-13 {
  background: #FFA96A;
}
.color-14 {
  background: #55CAFF;
}
.release-shig .layui-table {
  border: 1px solid #ddd;
  margin-bottom: 40px;
}
.service-ban {
  width: 100%;
  height: 407px;
  background: #fff url(../images/ser-ban.png) no-repeat top center;
}
.service-ban a {
  display: inline-block;
  width: 246px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border: 1px solid #ffffff;
  color: #ffffff;
  border-radius: 10px;
  margin: 240px 0 0 30px;
  font-size: 16px;
}
.service-ban a:hover {
  background: #ffffff;
  color: #333;
}
.service-fuwu{
  text-align: center;
}
.service-fuwu li {
  float: left;
  width: 270px;
  text-align: center;
  background: url(../images/ser-element.png) no-repeat right center;
  background-size: contain;
}
.service-fuwu li:last-child {
  background: #ffffff;
}
.service-fuwu li h3{
  font-size: 18px;
  margin: 15px 0 10px;
}
.service-fuwu li span {
  display: inline-block;
  width: 120px;
  height: 120px;
  background: #ff0000;
  border-radius: 50%;
  text-align: center;
  line-height: 120px;
}
.service-fuwu .color-1 {
  background: #FFC11A;
}
.service-fuwu .color-2 {
  background: #25D9E6;
}
.service-fuwu .color-3 {
  background: #F12857;
}
.service-fuwu .color-4 {
  background: #4B4694;
}
.service-bendi {
  background: url(../images/ser-bg3.png) no-repeat center;
  width: 100%;
  height: 638px;
  margin-top: 80px;
}
.service-bendi li {
  float: left;
  width: 199px;
  position: relative;
  cursor: pointer;
}
.service-bendi li div {
  width: 199px;
  height: 130px;
  background: #ffffff;
  text-align: center;
  line-height: 130px;
  font-size: 22px;
  color: #333333;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: .5s;
}
.service-bendi li:hover div {
  opacity: 1;
}
.service-bendi li img {
  width: 199px;
  height: 130px;
  border: 1px solid #ddd;
}
.service-demo li {
  float: left;
  margin-right: 8px;
  margin-bottom: 8px;
}
.service-demo li a {
  display: inline-block;
  width: 294px;
  height: 198px;
  overflow: hidden;
}
.service-demo li img {
  width: 294px;
  height: 198px;
  transition: .5s;
}
.service-demo li:nth-of-type(4n) {
  margin-right: 0;
}
.service-demo li:hover img {
  transform: scale(1.05);
}
.service-jiuda {
  width: 100%;
  height: 630px;
  background: url(../images/ser-bg.png) no-repeat center;
}
.service-jiuda .service-jiuda-con li {
  width: 90px;
  float: left;
  margin-right: 40px;
}
.service-jiuda .service-jiuda-con li span {
  display: inline-block;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-bottom: 10px;
  text-align: center;
  line-height: 90px;
}
.service-jiuda .service-jiuda-con li p {
  text-align: center;
}
.jcolor1 {
  background: #3CA1E8;
}
.jcolor2 {
  background: #FD7B34;
}
.jcolor3 {
  background: #E33A3D;
}
.jcolor4 {
  background: #96D675;
}
.jcolor5 {
  background: #FFA336;
}
.service-jiuda-form {
  width: 420px;
  text-align: center;
  margin: 50px auto 0;
}
.service-jiuda-form .layui-input-block,
.service-jiuda-form .layui-input-inline {
  margin-left: 0;
}
.service-fangxin {
  width: 100%;
  height: 220px;
  background: url(../images/ser-bg1.png) no-repeat center;
}
.service-fangxin h2 {
  text-align: center;
  font-size: 30px;
  padding: 48px 0 37px;
  color: #ffffff;
}
.service-fangxin li {
  float: left;
  margin-left: 164px;
}
.service-fangxin li span {
  color: #ffffff;
}
.service-fangxin li p {
  font-size: 36px;
  color: #ffde3c;
}
.service-fangxin li p i {
  font-size: 14px;
  color: #ffffff;
}
.city-con-bg {
  padding: 0 10px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  z-index: 999999999;
  height: 36px;
}
.city-container {
  position: relative;
  margin-left: 5px;
  cursor: pointer;
}
.city-container .city-item {
  position: absolute;
  left: -68px;
  top: 35px;
  width: 408px;
  height: 215px;
  z-index: 999999;
  border: 1px solid #ddd;
  background: #ffffff;
  display: none;
}
.city-container .city-item-title {
  padding: 0 10px 0 20px;
  height: 38px;
  line-height: 38px;
  background-color: #FFFBFB;
  border-bottom: 1px solid #ddd;
}
.city-container .city-item-title span {
  display: inline-block;
  text-align: center;
  height: 100%;
  width: 56px;
  margin-top: 1px;
  border-bottom: 2px solid transparent;
}
.city-container .city-item-title span:first-child {
  border-bottom: 2px solid #e9131b;
}
.city-container .city-item-title span:first-child a {
  color: #e9131b;
}
.city-container .city-item-title span:last-child {
  margin-right: 0;
}
.city-container .city-item-con {
  padding: 5px 20px 10px;
}
.city-container .city-item-con ul li {
  float: left;
  margin-right: 22px;
}
.city-container .city-item-con ul li:nth-of-type(6n) {
  margin-right: 0;
}
.drop-down-container {
  text-align: center;
  position: relative;
  line-height: 35px!important;
  cursor: pointer;
  width: 82px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
.drop-down-container a:hover {
  color: #E9131B;
}
.drop-down-container .drop-down-item {
  background: #ffffff;
  height: 106px;
  display: none;
  position: absolute;
  left: -1px;
  width: 82px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.top-phone-rwm {
  padding: 0 20px 30px;
  margin-left: 10px;
  line-height: 36px;
  height: 36px;
  position: relative;
  cursor: pointer;
}
.top-phone-rwm .layui-form-item {
  text-align: center;
}
.top-phone-rwm .layui-form-item .layui-input-inline {
  float: none;
}
.top-phone-rwm .top-phone-item {
  display: none;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  position: absolute;
  width: 240px;
  height: 224px;
  right: -1px;
  top: 36px;
  background: #ffffff;
  text-align: center;
  z-index: 999;
}
.top-phone-rwm .top-phone-item h2 {
  font-size: 16px;
  color: #333333;
  margin: 8px 0;
}
.top-phone-rwm .top-phone-item p {
  text-align: center;
  width: 190px;
  line-height: 24px;
  margin: 0 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 20px;
  font-size: 12px;
}


.advi-smallnav-media a{
  color: #999999;

}
.advi-smallnav-media a:hover{
  color: #E9131B;
}
