{include file="common/header" /}
<!-- banner 轮播 -->
<div class="layui-carousel" style="background-color: #000;" id="test1">
    <div class="ban-form">
        <h2>免费发布</h2>
        <form class="layui-form" id="addForm">
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <select name="cus_type" lay-verify="required">
                        <option value="">请选择您的招标类型</option>
                        {volist name="typeData" id="type"}
                            <option value="{$type.type_id}">{$type.type_name}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <input type="text" name="cus_area" class="layui-input" placeholder="请输入您的装修面积" lay-verify="required">
                </div>
            </div>
            <input name='cus_position' type='hidden' value='平台端首页'>
            <input type=hidden name=cus_from class=laiyuan>
            <input type=hidden name=cus_origin class=chuangyi>
            <input type=hidden name=cus_ip class=userIp>
            <input type=hidden name=cus_link class=curUrl>
            <input type=hidden name=refer class=refer>
            <div class="layui-form-item clearfix">
                <div class="layui-input-inline fl">
                    <select name="cus_provid" lay-verify="required" lay-filter="art_p_id">
                        <option value="">省份</option>
                        {volist name="prov" id="vo"}
                        <option value="{$vo.p_id}">{$vo.p_name}</option>
                        {/volist}
                    </select>
                </div>
                <div class="layui-input-inline fl">
                    <select name="cus_cityid" id="city" lay-verify="required">
                        <option value="">城市</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <input type="text" name="cus_name" class="layui-input" placeholder="请输入您的称呼" lay-verify="required">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <input type="text" name="cus_phone" class="layui-input" placeholder="请输入您的手机号码" lay-verify="phone">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block" style="text-align: center">
                    <span lay-submit lay-filter="addType" style="width: 100%" id="addType" class="layui-btn layui-btn-fluid layui-btn-red">
                        免费发布招标
                    </span>
                </div>
            </div>
        </form>
        <p>已有
            <em class="text-red">{$allOrder}</em>人预约服务
        </p>
    </div>

    <div carousel-item class="clearfix">
        {volist name="banner" id="ban"}
        <div class="fl">
            <a {if condition="$ban.ba_url neq null"} href="{$ban.ba_url}" target="_blank" {/if} >
                <img src="{$ban.ba_img}" alt="{$ban.ba_alt}">
            </a>
        </div>
        {/volist}
    </div>
</div>

<!-- 次级菜单 -->
<div class="nav-bar con">
    <ul class="clearfix">
        <li class="clearfix">
            <i class="fl">
                <img src="__PUBLIC__/images/icon-1.png" alt="">
            </i>
            <span class="fl">
                    <em>立即发布</em>
                    <em>招标需求</em>
                </span>
        </li>
        <li class="clearfix">
            <i class="fl">
                <img src="__PUBLIC__/images/icon-2.png" alt="">
            </i>
            <span class="fl">
                    <em>30分钟挑选</em>
                    <em>4家装修公司</em>
                </span>
        </li>
        <li class="clearfix">
            <i class="fl">
                <img src="__PUBLIC__/images/icon-3.png" alt="">
            </i>
            <span class="fl">
                    <em>4套方案</em>
                    <em>免费设计</em>
                </span>
        </li>
        <li class="clearfix">
            <i class="fl">
                <img src="__PUBLIC__/images/icon-4.png" alt="">
            </i>
            <span class="fl">
                    <em>4份报价</em>
                    <em>方便对比</em>
                </span>
        </li>
        <li class="clearfix">
            <i class="fl">
                <img src="__PUBLIC__/images/icon-5.png" alt="">
            </i>
            <span class="fl">
                    <em>跟进监督</em>
                    <em>打造标准工程</em>
                </span>
        </li>
        <li class="clearfix">
            <i class="fl">
                <img src="__PUBLIC__/images/icon-6.png" alt="">
            </i>
            <span class="fl">
                    <em>免费监理</em>
                    <em>全程装修无忧</em>
                </span>
        </li>
    </ul>
</div>
<!-- 办公空间 -->
<div class="office con">
    <div class="office-tab-btn clearfix" id="typeData">
        {volist name="typeData" id="type"}
            <span>{$type.type_name}</span>
        {/volist}
        <a href="<?=url('example/index')?>" class="fr">更多>></a>
    </div>
    <div class="office-tab-contain">
        <ul>
            {volist name="typeCase" id='case'}
                    <li class="clearfix">
                <div class="fl left">
                    <a
                        {if isset($case.type_case[0]['case_id'])}
                            href="<?=url('example/details')?>?case_id={$case.type_case[0]['case_id']}"
                        {/if}
                    >
                        <img
                            {if isset($case.type_case[0]['case_img'])} src="{$case.type_case[0]['case_img']}" {/if}
                            {if isset($case.type_case[0]['case_img_alt'])} src="{$case.type_case[0]['case_img_alt']}"{/if}
                        >
                    </a>
                </div>
                <div class="fr right">
                        <span>
                            <a
                                {if isset($case.type_case[1]['case_id'])}
                                    href="<?=url('example/details')?>?case_id={$case.type_case[1]['case_id']}"
                                {/if}
                            >
                            <img
                                {if isset($case.type_case[1]['case_img'])} src="{$case.type_case[1]['case_img']}" {/if}
                                {if isset($case.type_case[1]['case_img_alt'])} src="{$case.type_case[1]['case_img_alt']}"{/if}
                            >
                            </a>
                        </span>
                    <span>
                            <a
                                {if isset($case.type_case[2]['case_id'])}
                                    href="<?=url('example/details')?>?case_id={$case.type_case[2]['case_id']}"
                                {/if}
                            >
                            <img
                                {if isset($case.type_case[2]['case_img'])} src="{$case.type_case[2]['case_img']}" {/if}
                                {if isset($case.type_case[2]['case_img_alt'])} src="{$case.type_case[2]['case_img_alt']}"{/if}

                            >
                            </a>
                        </span>
                    <span>
                            <a
                                {if isset($case.type_case[3]['case_id'])}
                                    href="<?=url('example/details')?>?case_id={$case.type_case[3]['case_id']}"
                                {/if}
                            >
                            <img

                                {if isset($case.type_case[3]['case_img'])} src="{$case.type_case[3]['case_img']}" {/if}
                                {if isset($case.type_case[3]['case_img_alt'])} src="{$case.type_case[3]['case_img_alt']}"{/if}

                            >
                            </a>
                        </span>
                    <span>
                            <a
                                {if isset($case.type_case[4]['case_id'])}
                                    href="<?=url('example/details')?>?case_id={$case.type_case[4]['case_id']}"
                                {/if}
                            >
                            <img
                                {if isset($case.type_case[4]['case_img'])} src="{$case.type_case[4]['case_img']}" {/if}
                                {if isset($case.type_case[4]['case_img_alt'])} src="{$case.type_case[4]['case_img_alt']}"{/if}
                            >
                            </a>
                        </span>
                </div>
            </li>
            {/volist}
        </ul>
    </div>

    <div class="office-lists">
        <ul class="clearfix">
            {volist name="typeData" id="type"}
                <li>
                    <a href="<?=url('example/index')?>?type_sort={$type.type_id}">
                            <span>
                                <img src="{$type.type_img}" alt="{$type.type_img_alt}">
                            </span>
                        <p>{$type.type_name}</p>
                    </a>
                </li>
            {/volist}
        </ul>
    </div>
</div>

<!--合作商家（按当前城市的商家版本，接客量）logo+tel -->
<div class="partner con">
    <ul class="clearfix">
        {volist name="merLogo" id="mer"}
            <li>
                <a href="<?=url('merchant/index/indexs')?>?mt_id={$mer.mt_id}" target="_blank">
                    <img src="{$mer.mt_logo}" alt="{$mer.mt_name}">
                    <em>{$mer.mt_hotline}</em>
                </a>
            </li>
        {/volist}
    </ul>
</div>

<!-- 通用列表展示 -->

<!--按当前城市的商家版本，接客量-->
<div class="com-lists con clearfix">
    <div class="fl">
        <h3>
            <i>
                <img src="__PUBLIC__/images/qiye.png" alt="">
            </i>
            公转护航网优质企业排行榜
            <a class="fr" href="">更多>></a>
        </h3>
        <ul>
            {volist name="merTop" id="top" key="k" }
            <li>
                <a href="<?=url('merchant/index/indexs')?>?mt_id={$top.mt_id}" target="_blank">
                    <span class="">{$k}</span>
                    {$top.mt_name}
                    <em>{$top.mt_view}</em>
                    <!--最近登录时间-->
                    <i class="fr">{$top.mt_updatetime}</i>
                </a>
            </li>
            {/volist}
        </ul>
    </div>
    <!--当前城市合作版本（商家交钱多少）的商家 优质案例按浏览量-->
    <div class="fr">
        <h3>
            <i>
                <img src="__PUBLIC__/images/anli.png" >
            </i>
            公转护航网优质项目案例排行榜
            <a class="fr" href="<?=url('example/index')?>">更多>></a>
        </h3>
        <ul>
            {volist name="topExample" id="exams" key="k" }
                <li>
                    <a href="<?=url('example/details')?>?case_id={$exams.case_id}">
                        <span class="">{$k}</span>
                        {$exams.case_title}
                        <em>{$exams.case_view}</em>
                        <i class="fr">{$exams.case_indextime}</i>
                    </a>
                </li>
            {/volist}
        </ul>
    </div>
</div>

<!-- adv -->
<div class="com-adv con">
    <a href="">
        <img src="__PUBLIC__/images/adv2.png" alt="">
    </a>
</div>

<!-- 招标板块 -->
<div class="Bidding con clearfix">
    <!-- 左 -->
    <div class="bidding-left fl">
        <table class="layui-table" lay-skin="line">
            <colgroup>
                <col width="193">
                <col width="410">
                <col width="150">
            </colgroup>
            <thead>
            <tr>
                <th>招标金额</th>
                <th>项目名称</th>
                <th>建筑面积</th>
                <th>招标状态</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <p>
                        <i>
                            <img src="__PUBLIC__/images/jine.png" alt="">
                        </i>￥5万
                    </p>
                    <span>发布时间：2018-05-13</span>
                </td>
                <td>
                    <h3>西安市某某幼儿园装修</h3>
                    <span>招标编号：201803280002</span>
                    <span>招标要求：场地已选好，继续装修公司设计方案</span>
                </td>
                <td>800平米</td>
                <td style="text-align: center;">
                    <span class="biddcen">招标中</span>
                    <button class="layui-btn layui-btn-red layui-open-show">立即投标(2)</button>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        <i>
                            <img src="__PUBLIC__/images/jine.png" alt="">
                        </i>￥5万
                    </p>
                    <span>发布时间：2018-05-13</span>
                </td>
                <td>
                    <h3>西安市某某幼儿园装修</h3>
                    <span>招标编号：201803280002</span>
                    <span>招标要求：场地已选好，继续装修公司设计方案</span>
                </td>
                <td>800平米</td>
                <td style="text-align: center;">
                    <span class="biddcen">招标中</span>
                    <button class="layui-btn layui-btn-red layui-open-show">立即投标(2)</button>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        <i>
                            <img src="__PUBLIC__/images/jine.png" alt="">
                        </i>￥5万
                    </p>
                    <span>发布时间：2018-05-13</span>
                </td>
                <td>
                    <h3>西安市某某幼儿园装修</h3>
                    <span>招标编号：201803280002</span>
                    <span>招标要求：场地已选好，继续装修公司设计方案</span>
                </td>
                <td>800平米</td>
                <td style="text-align: center;">
                    <span class="biddcen">招标中</span>
                    <button class="layui-btn layui-btn-red layui-open-show">立即投标(2)</button>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        <i>
                            <img src="__PUBLIC__/images/jine.png" alt="">
                        </i>￥5万
                    </p>
                    <span>发布时间：2018-05-13</span>
                </td>
                <td>
                    <h3>西安市某某幼儿园装修</h3>
                    <span>招标编号：201803280002</span>
                    <span>招标要求：场地已选好，继续装修公司设计方案</span>
                </td>
                <td>800平米</td>
                <td style="text-align: center;">
                    <span class="biddcen">招标中</span>
                    <button class="layui-btn layui-btn-red">立即投标(2)</button>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        <i>
                            <img src="__PUBLIC__/images/jine.png" alt="">
                        </i>￥5万
                    </p>
                    <span>发布时间：2018-05-13</span>
                </td>
                <td>
                    <h3>西安市某某幼儿园装修</h3>
                    <span>招标编号：201803280002</span>
                    <span>招标要求：场地已选好，继续装修公司设计方案</span>
                </td>
                <td>800平米</td>
                <td style="text-align: center;">
                    <span class="biddcen">招标中</span>
                    <button class="layui-btn layui-btn-grays">立即投标(2)</button>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        <i>
                            <img src="__PUBLIC__/images/jine.png" alt="">
                        </i>￥5万
                    </p>
                    <span>发布时间：2018-05-13</span>
                </td>
                <td>
                    <h3>西安市某某幼儿园装修</h3>
                    <span>招标编号：201803280002</span>
                    <span>招标要求：场地已选好，继续装修公司设计方案</span>
                </td>
                <td>800平米</td>
                <td style="text-align: center;">
                    <span class="biddcen">招标中</span>
                    <button class="layui-btn layui-btn-grays">立即投标(2)</button>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        <i>
                            <img src="__PUBLIC__/images/jine.png" alt="">
                        </i>￥5万
                    </p>
                    <span>发布时间：2018-05-13</span>
                </td>
                <td>
                    <h3>西安市某某幼儿园装修</h3>
                    <span>招标编号：201803280002</span>
                    <span>招标要求：场地已选好，继续装修公司设计方案</span>
                </td>
                <td>800平米</td>
                <td style="text-align: center;">
                    <span class="biddcen">招标中</span>
                    <button class="layui-btn layui-btn-grays">立即投标(2)</button>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        <i>
                            <img src="__PUBLIC__/images/jine.png" alt="">
                        </i>￥5万
                    </p>
                    <span>发布时间：2018-05-13</span>
                </td>
                <td>
                    <h3>西安市某某幼儿园装修</h3>
                    <span>招标编号：201803280002</span>
                    <span>招标要求：场地已选好，继续装修公司设计方案</span>
                </td>
                <td>800平米</td>
                <td style="text-align: center;">
                    <span class="biddcen">招标中</span>
                    <button class="layui-btn layui-btn-grays">立即投标(2)</button>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        <i>
                            <img src="__PUBLIC__/images/jine.png" alt="">
                        </i>￥5万
                    </p>
                    <span>发布时间：2018-05-13</span>
                </td>
                <td>
                    <h3>西安市某某幼儿园装修</h3>
                    <span>招标编号：201803280002</span>
                    <span>招标要求：场地已选好，继续装修公司设计方案</span>
                </td>
                <td>800平米</td>
                <td style="text-align: center;">
                    <span class="biddcen">招标中</span>
                    <button class="layui-btn layui-btn-grays">立即投标(2)</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- 右 -->
    <div class="bidding-right fr">
        <!-- 上 -->
        <div class="top">
            <ul>
                <li class="clearfix">
                    <em class="fl">
                        <img src="__PUBLIC__/images/icon-7.png" alt="">
                    </em>
                    <div class="fl">
                        <h4>老牌装修门户</h4>
                        <span>4家装饰公司免费上门量房</span>
                    </div>
                </li>
                <li class="clearfix">
                    <em class="fl">
                        <img src="__PUBLIC__/images/icon-8.png" alt="">
                    </em>
                    <div class="fl">
                        <h4>老牌装修门户</h4>
                        <span>4家装饰公司免费上门量房</span>
                    </div>
                </li>
                <li class="clearfix">
                    <em class="fl">
                        <img src="__PUBLIC__/images/icon-9.png" alt="">
                    </em>
                    <div class="fl">
                        <h4>老牌装修门户</h4>
                        <span>4家装饰公司免费上门量房</span>
                    </div>
                </li>
                <li class="clearfix">
                    <em class="fl">
                        <img src="__PUBLIC__/images/icon-10.png" alt="">
                    </em>
                    <div class="fl">
                        <h4>老牌装修门户</h4>
                        <span>4家装饰公司免费上门量房</span>
                    </div>
                </li>
            </ul>
            <div>
                <p>促销信息：</p>
                <i>
                    <em></em> 5月14日-6月14日西安夏装风活动大促强…</i>
                <i>
                    <em></em> 5月14日-6月14日西安夏装风活动大促强…</i>
            </div>
        </div>
        <!-- 下 -->
        <div class="bto">
            <h3 class="clearfix">
                <i class="fl">
                    <img src="__PUBLIC__/images/wenda.png" alt="">
                </i>
                装修问答
                <a class="fr" href="">更多>></a>
            </h3>
            <ul>
                {volist name="quest" id="que"}
                <li>
                    <div class="clearfix">
                        <i class="fl">
                            <img src="__PUBLIC__/images/icon-11.png" alt="">
                        </i>
                        <span class="fr">{$que.qa_question}</span>
                    </div>
                    <div class="clearfix">
                        <i class="fl">
                            <img src="__PUBLIC__/images/icon-12.png" alt="">
                        </i>
                        <span class="fr">{$que.top_answer.qaa_answer}</span>
                    </div>
                </li>
                {/volist}
            </ul>

            <div class="bto-btn">
                <a href="" class="layui-btn layui-btn-red">我要提问</a>
                <!--<a href="" class="layui-btn layui-btn-red">我要回答</a>-->
            </div>
        </div>
    </div>
</div>

<!-- 通用列表展示 -->
<div class="com-lists con clearfix">
    <div class="fl">
        <h3>
            <i>
                <img src="__PUBLIC__/images/dongtai.png" alt="">
            </i>
            公装护航网-行业新闻
            <a class="fr" href="<?=url('news/index')?>">更多>></a>
        </h3>
        <ul>
            {volist name="news" id="new" key="k"}
                <li>
                    <a href="<?=url('news/details')?>?art_id={$new.art_id}">
                        <span class="">{$k}</span>
                        {if condition="$new.art_m_id eq null"}
                        {$paltName[0]}
                         {else/}
                        {$new.mt_name[0]}
                        {/if}
                        <em style="color: #666 ;margin-left: 75px;">{$new.art_title}</em>
                        <i class="fr">{$new.art_indextime}</i>
                    </a>
                </li>
            {/volist}
        </ul>
    </div>
    <div class="fr">
        <h3>
            <i>
                <img src="__PUBLIC__/images/anli.png" alt="">
            </i>
            公装护航网-企业动态
            <a class="fr" href="<?=url('news/index')?>">更多>></a>
        </h3>
        <ul>
            {volist name="industral" id="indus" key="k"}
            <li>
                <a href="<?=url('news/details')?>?art_id={$indus.art_id}">
                    <span class="">{$k}</span>
                    {$indus.mt_name[0]}
                    <em style="color: #666 ;margin-left: 75px;">{$indus.art_title}</em>
                    <i class="fr">{$indus.art_indextime}</i>
                </a>
            </li>
            {/volist}
        </ul>
    </div>
</div>

<!-- 友情链接 -->

{include file="common/friendlink" /}
<!-- adv -->
<div class="com-adv con">
    <a href="">
        <img src="__PUBLIC__/images/adv1.png" alt="">
    </a>
</div>
{include file="common/footer" /}
{include file="common/bottom" /}
<script>
    layui.use(['form','jquery'] ,function(){
        var form = layui.form,
            $ = layui.jquery;
        //根据联动的省份id查找城市
        form.on('select(art_p_id)', function(data){
            var p_id=data.value;
            $.ajax({
                type: 'POST',
                url: "<?=url('admin/common/getCityName')?>?p_id="+p_id,
                data: {p_id:p_id},
                dataType:  'json',
                success: function(data){
                    console.log(data);
                    var code=data.data;
                    $("#city").html("<option value=''>城市</option>");
                    $.each(code, function(i, val) {
                        var option1 = $("<option>").val(val.c_id).text(val.c_name);
                        $("#city").append(option1);
                        form.render('select');
                    });
                    $("#city").get(0).selectedIndex=0;
                }
            });
        });
        //提交要添加的数据
        form.on('submit(addType)', function(){
            $('#addType').removeAttr('lay-filter');
            console.log('开始预约！');
            $.ajax({
                type:"post",
                url:"<?=url('index/point')?>",
                data:$("#addForm").serialize(),
                success:function (result) {
                    console.log(result);
                    if(result.code == '1'){
                        layer.msg(result.msg, {icon: 1, time: 2000},function () {
                            window.location.reload();
                        });
                    }else{
                        layer.msg(result.msg, {icon: 2, time: 3000});
                    }
                },
                error:function (error) {
                    console.log(error);
                }
            })
        });
        $('#typeData span:first ').addClass('btn-this');

        //提交投标信息，寻求合作！
        form.on('submit(addBid)', function(){
            $('#addBid').removeAttr('lay-filter');
            $.ajax({
                type:"post",
                url:"<?=url('index/bidding')?>",
                data:$("#bidForm").serialize(),
                success:function (result) {
                    console.log(result);
                    if(result.code == '1'){
                        layer.msg(result.msg, {icon: 1, time: 2000},function () {
                            window.location.reload();
                        });
                    }else{
                        layer.msg(result.msg, {icon: 2, time: 3000});
                    }
                },
                error:function (error) {
                    console.log(error);
                }
            })
        });

    });
</script>
<script type="text/javascript" src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
<script>
    function getUrlParms(name){
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)
            return unescape(r[2]);
        return null;
    }
    var refer=document.referrer;
    var userIp= returnCitySN.cip;
    var laiyuan=getUrlParms("laiyuan");
    var chuangyi=getUrlParms("chuangyi");
    var curUrl = window.location.href;
    $('.laiyuan').val(laiyuan);
    $('.chuangyi').val(chuangyi);
    $('.userIp').val(userIp);
    $('.curUrl').val(curUrl);
    $('.refer').val(refer);
</script>