<div class="footer clearfix">
    <div class="footer-con con">
        <div class="footer-left fl">
            <ul class="clearfix">
                <li>
                    <h3>关于我们</h3>
                    <a href="">联系我们</a>
                    <a href="">关于公装护航</a>
                </li>
                <li>
                    <h3>帮助中心</h3>
                    <a href="">联系我们</a>
                    <a href="">关于公装护航</a>
                </li>
                <li>
                    <h3>商户资讯</h3>
                    <a href="<?=url('wanted/suggestion')?>">投诉建议</a>
                    <a href="<?=url('index/join/index')?>">商务合作</a>
                    <a href="<?=url('index/join/index')?>">城市加盟</a>
                </li>
            </ul>
        </div>
        <div class="footer-mider fl">
            <div>
                <img src="{$weiBo}" alt="">
                <em>关注微博</em>
            </div>
            <div>
                <img src="{$weChat}" alt="">
                <em>关注微信</em>
            </div>
        </div>
        <div class="footer-right fl">
            <p>
                <i>
                    <img src="__MERCH__/images/phone2.png" alt="">
                </i>
                <em style="color:#FF6600">{$hotLine}</em>
            </p>
            <p>
                <i>
                    <img src="__MERCH__/images/city-2.png" alt="">
                </i>地址：{$address}
            </p>
            <button class="layui-btn layui-btn-danger layui-btn-sm">
                <img src="__MERCH__/images/kefu.png" alt=""> 在线客服
            </button>
        </div>
    </div>
</div>