<div class="step-nav con">
    <ul class="clearfix">
        <li>
            <a>
                <i>
                    <img src="__MERCH__/images/x-img1.png" alt="">
                </i>
                <p>在线预约</p>
            </a>
        </li>
        <li>
            <a>
                <i>
                    <img src="__MERCH__/images/x-img2.png" alt="">
                </i>
                <p>现场勘查</p>
            </a>
        </li>
        <li>
            <a>
                <i>
                    <img src="__MERCH__/images/x-img3.png" alt="">
                </i>
                <p>沟通需求</p>
            </a>
        </li>
        <li>
            <a>
                <i>
                    <img src="__MERCH__/images/x-img4.png" alt="">
                </i>
                <p>设计方案</p>
            </a>
        </li>
        <li>
            <a>
                <i>
                    <img src="__MERCH__/images/x-img5.png" alt="">
                </i>
                <p>在线预约</p>
            </a>
        </li>
        <li>
            <a href="">
                <i>
                    <img src="__MERCH__/images/x-img6.png" alt="">
                </i>
                <p>现场勘查</p>
            </a>
        </li>
        <li>
            <a>
                <i>
                    <img src="__MERCH__/images/x-img7.png" alt="">
                </i>
                <p>沟通需求</p>
            </a>
        </li>
        <li>
            <a>
                <i>
                    <img src="__MERCH__/images/x-img8.png" alt="">
                </i>
                <p>设计方案</p>
            </a>
        </li>
        <li>
            <a>
                <i>
                    <img src="__MERCH__/images/x-img9.png" alt="">
                </i>
                <p>设计方案</p>
            </a>
        </li>
    </ul>
</div>