<html><!doctype html>
<html lang="zh-cmn-Hans"><head>
    <meta charset="utf-8">
    <!-- 技术支持：智慧亿企 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>中鑫盛邦实业集团_装饰装修工程设计与施工！西安专业室内外装饰设计与施工企业！</title>
    <meta name="keywords" content="西安室内外装饰装修与施工,室内外装饰装修与施工,西安室内外装饰设计公司,室内外装饰设计,软装陈设设计" />
    <meta name="description" content="西安中鑫盛邦装饰设计工程有限公司,致力于室内外装饰装修设计与施工,软装陈设设计等创意领域,公司拥有非常丰富的设计与施工经验,涉及办公类,地产类,酒店类等领域的设计与施工。咨询电话：029-88345766" />
    <!-- Style file -->
    <link rel="stylesheet" href="__SUPER__/statics/css/j_reset.css" >
    <link rel="stylesheet" href="__SUPER__/statics/css/j_web.css" >
    <link rel="stylesheet" href="__SUPER__/statics/css/j_animate.css" >
    <script type="text/javascript" src="__SUPER__/statics/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="__SUPER__/statics/js/j_reset.js"></script>
    <script type="text/javascript" src="__SUPER__/statics/js/j_web.js"></script>

    <!-- Compatible files -->
    <!--[if lt IE 9]>
    <script src="__SUPER__/statics/js/j_ijr.js"></script>
    <![endif]-->

</head>
<body>
<header id="header">

    <section class="nav_box">
        <div class="main_box">

            <div class=" logo">
                <a href="<?=url('index/index')?>?mt_id={$merchant.mt_id}" title="">

                <img src="{$merchant.mt_logo}" alt="" /></a> </div>
            <div id="nav" class="right">
                <ul>
                    <li  class="on"><a class="a" href="<?=url('index/index')?>?mt_id={$merchant.mt_id}" title=""><span></span><strong>首页</strong></a></li>
                    <li ><a class="a" href="<?=url('index/about')?>"><span></span><strong>关于我们</strong></a></li>
                    <li ><a class="a" href="<?=url('index/designer')?>"><span></span><strong>设计团队</strong></a></li>
                    <li ><a class="a" href="<?=url('index/example')?>" ><span></span><strong>项目案例</strong></a></li>
                    <li ><a class="a" href="<?=url('index/news')?>"><span></span><strong>新闻资讯</strong></a></li>
                    <li ><a class="a" href="<?=url('index/wanted')?>" ><span></span><strong>企业招聘</strong></a></li>
                    <li ><a class="a" href="<?=url('index/contact')?>" ><span></span><strong>联系我们</strong></a></li>
                    <div class="clear"></div>
                </ul>
            </div>
        </div>
    </section>
</header>