{include file="common/toper" /}
<style>
    .one-pan{
        position: relative;
    }
    .one{
        position: absolute;
        left:300px;
        top:0;
    }
    .logoPre{
        width: 216px;
        height: 150px;
    }
</style>
<div class="layui-body">
    <div style="margin-top: 5px;margin-bottom: 3px;">
    <span class="layui-breadcrumb" lay-separator=">">
        <a>站点运营</a>
        <a href="<?=url('designer/index')?>">设计团队</a>
        <a><cite>修改设计师</cite></a>
    </span>
        <div style="float:right;margin-right:20px;margin-bottom: 12px;">
            <a class="layui-btn layui-btn-primary layui-btn-sm" href="<?=url('designer/index')?>">
                <i class="layui-icon layui-icon-return"></i>
                返回列表
            </a>
        </div>
    </div>
    <hr/>
    <div style="padding: 15px;">
        <form class="layui-form layui-form-pane1" id="addForm">
            <div class="layui-form-item">
                <label class="layui-form-label">设计师姓名</label>
                <div class="layui-input-block">
                    <input type="text" name="des_name" id="des_name" onblur="checkBulids()" value="{$design.des_name}" lay-verify="required|title" placeholder="请输入设计师姓名" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red;">*</span>SEO关键词</label>
                <div class="layui-input-block">
                    <input type="text" name="des_seo_keywords" lay-verify="required" value="{$design.des_seo_keywords}"  placeholder="请输入SEO关键词,多个关键词之间用英文逗号隔开。" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red;">*</span>手机号码</label>
                <div class="layui-input-block">
                    <input type="text" name="des_phone" lay-verify="required|phone" value="{$design.des_phone}"  placeholder="请输入手机号码。" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red;">*</span>电子邮箱</label>
                <div class="layui-input-block">
                    <input type="text" name="des_email" lay-verify="required|email" value="{$design.des_email}" placeholder="请输入电子邮箱。" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red;">*</span>年龄</label>
                <div class="layui-input-inline">
                    <input type="text" onkeyup="this.value=this.value.replace(/\D/g, '')" value="{$design.des_age}"  name="des_age" lay-verify="required" placeholder="请输入年龄" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">岁</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red;">*</span>从业经验</label>
                <div class="layui-input-inline">
                    <input type="text" onkeyup="this.value=this.value.replace(/\D/g, '')"  name="des_exp" lay-verify="required" placeholder="请输入从业年份" value="{$design.des_exp}" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">年</div>
            </div>
           <div class="layui-form-item one-pan">
                <label class="layui-form-label"><span style="color: red;">*</span>正方形图像</label>
                <div {if condition="$design.des_avatar eq null"}class="layui-upload-drag"{/if} id="uploadLogo" style="display:inline-block;" >
                    <image  id="logoPre" {if condition="$design.des_avatar eq null"}
                           {else/}
                        src="__PUBLICS__{$design.des_avatar}"
                        class="logoPre"
                        {/if}>
                        <input type="hidden" lay-verify="avatarReg" name="des_avatar" id="des_avatar" value="{$design.des_avatar}"/>
                    </image>
                {if condition="$design.des_avatar eq null"}
                <div id="display">
                    <i class="layui-icon"></i>
                    <p>请点击此处上传封面图片</p>
                </div>
                {/if}
                </div>
            </div>
            <div class="layui-form-item one-pan">
                <label class="layui-form-label"><span style="color: red;">*</span>长方形图像</label>
                <div  {if condition="$design.des_img eq null"} class="layui-upload-drag"{/if} id="uploadLogo1" style="display:inline-block;">
                    <image id="logoPre1" {if condition="$design.des_img eq null"}
                           {else/}
                src="__PUBLICS__{$design.des_img}"
                class="logoPre"
                {/if}>
                        <input type="hidden" lay-verify="imgReg" name="des_img" id="des_img" value="{$design.des_img}"/>
                    </image>
                    {if condition="$design.des_img eq null"}
                    <div id="display1">
                        <i class="layui-icon"></i>
                        <p>请点击此处上传封面图片</p>
                    </div>
                    {/if}
                </div>
                <div class="one">
                    <div class="layui-form-mid layui-word-aux" style="margin-left: 39px; ">图片要求，最大600KB，支持JPG/JEPG/PNG格式</div>
                    <div class="layui-form-item">
                        <textarea name="des_img_alt" style="resize:none;width: 1315px;height: 115px; margin-left:39px;"  placeholder="图片描述，建议不超过15个字（等同图片ALT属性）" class="layui-textarea">{$design.des_img_alt}</textarea>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red;">*</span>毕业院校</label>
                <div class="layui-input-block">
                    <input type="text" name="des_guand" value="{$design.des_guand}" lay-verify="required" placeholder="请输入毕业院校" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item" pane="">
                <label class="layui-form-label"><span style="color: red;">*</span>擅长项目</label>
                <div class="layui-input-block">
                    {volist name="typeData"  id="style"}
                    <input type="checkbox" class="des_tanlent" lay-verify="des_tanlent" {volist name='type_list' id='item'}{if $item eq $style.type_id}checked{/if}{/volist} name="des_tanlent[{$style.type_id}]"  lay-skin="primary" title="{$style.type_name}">
                    {/volist}
                </div>
            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label"><span style="color: red;">*</span>设计师简介</label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入设计师简介，SEO描述"  lay-verify="required"  name="des_remarks" class="layui-textarea">{$design.des_remarks}</textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <span class="layui-btn" id="addType" lay-submit lay-filter="addType">修改</span>
                    <a class="layui-btn layui-btn-primary" href="<?=url('designer/index')?>">返回</a>
                </div>
            </div>
        </form>
    </div>
</div>
{include file="common/footer" /}
<script>
    layui.use(['form','upload','jquery','upload'] ,function(){
        var form = layui.form,
            upload = layui.upload,
            $ = layui.jquery;
        form.on('radio', function(data){
            console.log(data);
        });
        //正方形图像上传
        upload.render({
            elem: '#uploadLogo'
            ,url: '{:url("designer/upload")}'
            ,size:600 //限制文件大小，单位 KB
            ,ext: 'jpg|png|gif'
            ,accept: 'images' //限制文件大小，单位 KB
            ,before: function(input){
                loading = layer.load(2, {
                    shade: [0.2,'#000']
                });
            }
            ,done: function(res){
                $('#logoPre').removeAttr('src');
                $('#des_avatar').val('');
                console.log(res);
                layer.close(loading);
                $('#des_avatar').val(res.path);
                $('#uploadLogo').removeClass('layui-upload-drag');
                $('#logoPre').css('width','216px');
                $('#logoPre').css('height','150px');
                $('#logoPre').attr('src',"__PUBLICS__"+res.path);
                $('#display').hide();
                layer.msg(res.msg, {icon: 1, time: 1000});
            }
            ,error: function(res){
                layer.msg(res.msg, {icon: 2, time: 1000});
            }
        });
        //长方形图像上传
        upload.render({
            elem: '#uploadLogo1'
            ,url: '{:url("designer/upload")}'
            ,size:600 //限制文件大小，单位 KB
            ,ext: 'jpg|png|gif'
            ,accept: 'images' //限制文件大小，单位 KB
            ,before: function(input){
                loading = layer.load(2, {
                    shade: [0.2,'#000']
                });
            }
            ,done: function(res){
                $('#logoPre1').removeAttr('src');
                $('#des_img').val('');
                console.log(res);
                layer.close(loading);
                $('#des_img').val(res.path);
                $('#uploadLogo1').removeClass('layui-upload-drag');
                $('#logoPre1').css('width','216px');
                $('#logoPre1').css('height','150px');
                $('#logoPre1').attr('src',"__PUBLICS__"+res.path);
                $('#display1').hide();
                layer.msg(res.msg, {icon: 1, time: 1000});
            }
            ,error: function(res){
                layer.msg(res.msg, {icon: 2, time: 1000});
            }
        });
        //自定义验证规则
        form.verify({
            title: function(value){
                if(value.length < 2){
                    return '至少得2个字符啊';
                }
            }
            ,imgReg:function (value) {
                if(value.length <= 0){
                    return '请上传长方形图像';
                }
            }
            ,avatarReg:function (value) {
                if(value.length <= 0){
                    return '请上传正方形图像';
                }
            }
            ,des_tanlent:function () {
                if (!$(".des_tanlent").is(":checked")) {
                    return "擅长项目必须选一个！";
                }
            }
        });
        form.on('submit(addType)', function(){
            $('#addType').removeAttr('lay-filter');
            $.ajax({
                'type':"post",
                'url':"<?=url('designer/editDesigner')?>?des_id={$design.des_id}",
                'data':$('#addForm').serialize(),
                'success':function (result) {
                    if(result.code == '1'){
                        layer.msg(result.msg, {icon: 1, time: 2000},function () {
                            location.href="<?=url('designer/index')?>";
                        });
                    }else{
                        layer.msg(result.msg, {icon: 2, time: 3000});
                    }
                },
                'error':function (error) {
                    console.log(error);
                }
            })
        });
    });
</script>
