{include file="common/header" /}

<!-- 页面主体 -->
<!-- 焦点图 -->
<div class="comban">
    <img src="__PUBLIC__/images/bidding1.png" alt="">
</div>

<!-- 面包屑 -->
<div class="crumbs con">
        <span class="layui-breadcrumb" lay-separator=">">
            <a href="<?=url('index/index')?>">首页</a>
            <a>
                <cite>工装招标</cite>
            </a>
        </span>
</div>
<!--  -->

<!-- 页面主体 -->
<div class="the-con con clearfix">
    <!-- 左侧 -->
    <div class="the-con-left fl">
        <!-- 上 -->
        <div class="top">
            <ul class="clearfix">
                <li>
                    <a href="">西安装修招标</a>
                    <i>
                        <img src="__PUBLIC__/images/the-icon1.png" alt="">
                    </i>
                </li>
                <li>
                    <a href="">正在招标</a>
                    <i>
                        <img src="__PUBLIC__/images/the-icon2.png" alt="">
                    </i>
                </li>
                <li>
                    <a href="">已结束招标</a>
                    <i>
                        <img src="__PUBLIC__/images/the-icon3.png" alt="">
                    </i>
                </li>
            </ul>
        </div>
        <!-- 下 -->
        <div class="bidding-left fl">
            <table class="layui-table" lay-skin="line">
                <colgroup>
                    <col width="193">
                    <col width="410">
                    <col width="150">
                </colgroup>
                <thead>
                <tr>
                    <th>招标金额</th>
                    <th>项目名称</th>
                    <th>建筑面积</th>
                    <th>招标状态</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <p>
                            <i>
                                <img src="__PUBLIC__/images/jine.png" alt="">
                            </i>￥5万
                        </p>
                        <span>发布时间：2018-05-13</span>
                    </td>
                    <td>
                        <h3>西安市某某幼儿园装修</h3>
                        <span>招标编号：201803280002</span>
                        <span>招标要求：场地已选好，继续装修公司设计方案</span>
                    </td>
                    <td>800平米</td>
                    <td style="text-align: center;">
                        <span class="biddcen">招标中</span>
                        <button class="layui-btn layui-btn-red layui-open-show">立即投标(2)</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <i>
                                <img src="__PUBLIC__/images/jine.png" alt="">
                            </i>￥5万
                        </p>
                        <span>发布时间：2018-05-13</span>
                    </td>
                    <td>
                        <h3>西安市某某幼儿园装修</h3>
                        <span>招标编号：201803280002</span>
                        <span>招标要求：场地已选好，继续装修公司设计方案</span>
                    </td>
                    <td>800平米</td>
                    <td style="text-align: center;">
                        <span class="biddcen">招标中</span>
                        <button class="layui-btn layui-btn-red">立即投标(2)</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <i>
                                <img src="__PUBLIC__/images/jine.png" alt="">
                            </i>￥5万
                        </p>
                        <span>发布时间：2018-05-13</span>
                    </td>
                    <td>
                        <h3>西安市某某幼儿园装修</h3>
                        <span>招标编号：201803280002</span>
                        <span>招标要求：场地已选好，继续装修公司设计方案</span>
                    </td>
                    <td>800平米</td>
                    <td style="text-align: center;">
                        <span class="biddcen">招标中</span>
                        <button class="layui-btn layui-btn-red">立即投标(2)</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <i>
                                <img src="__PUBLIC__/images/jine.png" alt="">
                            </i>￥5万
                        </p>
                        <span>发布时间：2018-05-13</span>
                    </td>
                    <td>
                        <h3>西安市某某幼儿园装修</h3>
                        <span>招标编号：201803280002</span>
                        <span>招标要求：场地已选好，继续装修公司设计方案</span>
                    </td>
                    <td>800平米</td>
                    <td style="text-align: center;">
                        <span class="biddcen">招标中</span>
                        <button class="layui-btn layui-btn-red">立即投标(2)</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <i>
                                <img src="__PUBLIC__/images/jine.png" alt="">
                            </i>￥5万
                        </p>
                        <span>发布时间：2018-05-13</span>
                    </td>
                    <td>
                        <h3>西安市某某幼儿园装修</h3>
                        <span>招标编号：201803280002</span>
                        <span>招标要求：场地已选好，继续装修公司设计方案</span>
                    </td>
                    <td>800平米</td>
                    <td style="text-align: center;">
                        <span class="biddcen">招标中</span>
                        <button class="layui-btn layui-btn-grays">立即投标(2)</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <i>
                                <img src="__PUBLIC__/images/jine.png" alt="">
                            </i>￥5万
                        </p>
                        <span>发布时间：2018-05-13</span>
                    </td>
                    <td>
                        <h3>西安市某某幼儿园装修</h3>
                        <span>招标编号：201803280002</span>
                        <span>招标要求：场地已选好，继续装修公司设计方案</span>
                    </td>
                    <td>800平米</td>
                    <td style="text-align: center;">
                        <span class="biddcen">招标中</span>
                        <button class="layui-btn layui-btn-grays">立即投标(2)</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <i>
                                <img src="__PUBLIC__/images/jine.png" alt="">
                            </i>￥5万
                        </p>
                        <span>发布时间：2018-05-13</span>
                    </td>
                    <td>
                        <h3>西安市某某幼儿园装修</h3>
                        <span>招标编号：201803280002</span>
                        <span>招标要求：场地已选好，继续装修公司设计方案</span>
                    </td>
                    <td>800平米</td>
                    <td style="text-align: center;">
                        <span class="biddcen">招标中</span>
                        <button class="layui-btn layui-btn-grays">立即投标(2)</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <i>
                                <img src="__PUBLIC__/images/jine.png" alt="">
                            </i>￥5万
                        </p>
                        <span>发布时间：2018-05-13</span>
                    </td>
                    <td>
                        <h3>西安市某某幼儿园装修</h3>
                        <span>招标编号：201803280002</span>
                        <span>招标要求：场地已选好，继续装修公司设计方案</span>
                    </td>
                    <td>800平米</td>
                    <td style="text-align: center;">
                        <span class="biddcen">招标中</span>
                        <button class="layui-btn layui-btn-grays">立即投标(2)</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <i>
                                <img src="__PUBLIC__/images/jine.png" alt="">
                            </i>￥5万
                        </p>
                        <span>发布时间：2018-05-13</span>
                    </td>
                    <td>
                        <h3>西安市某某幼儿园装修</h3>
                        <span>招标编号：201803280002</span>
                        <span>招标要求：场地已选好，继续装修公司设计方案</span>
                    </td>
                    <td>800平米</td>
                    <td style="text-align: center;">
                        <span class="biddcen">招标中</span>
                        <button class="layui-btn layui-btn-grays">立即投标(2)</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- 分页 -->
        <div class="paging con-the">
            <div class="paging-con">
                <p>
                    <a href="javascript:;" style="width: 46px;">首页</a>
                    <a href="javascript:;">
                        <i class="layui-icon layui-icon-left"></i>
                    </a>
                    <a class="paging-this" href="javascript:;">1</a>
                    <a href="javascript:;">2</a>
                    <a href="javascript:;">3</a>
                    <a href="javascript:;">4</a>
                    <a href="javascript:;">5</a>
                    <a href="javascript:;">
                        <i class="layui-icon layui-icon-right"></i>
                    </a>
                    <a href="javascript:;" style="width: 46px;">尾页</a>
                    <span>
                            到第
                            <input type="text" value="1">页
                            <button class="layui-btn fr layui-btn-primary layui-btn-sm">确认</button>
                        </span>
                </p>
            </div>
        </div>
    </div>
    <!-- 右侧 -->
    {include file="common/bidding" /}
</div>

<!-- 服务流程 -->

{include file="common/serviceStep" /}
<!-- 页面主体结束 -->

<!-- 友情链接 -->
{include file="common/friendlink" /}

<!-- footer -->
{include file="common/footer" /}
{include file="common/bottom" /}
<script>
    layui.use(['form','jquery'] ,function(){
        var form = layui.form,
            $ = layui.jquery;
        //根据联动的省份id查找城市
        form.on('select(art_p_id)', function(data){
            var p_id=data.value;
            $.ajax({
                type: 'POST',
                url: "<?=url('admin/common/getCityName')?>?p_id="+p_id,
                data: {p_id:p_id},
                dataType:  'json',
                success: function(data){
                    console.log(data);
                    var code=data.data;
                    $("#city").html("<option value=''>城市</option>");
                    $.each(code, function(i, val) {
                        var option1 = $("<option>").val(val.c_id).text(val.c_name);
                        $("#city").append(option1);
                        form.render('select');
                    });
                    $("#city").get(0).selectedIndex=0;
                }
            });
        });
        //提交要添加的数据
        form.on('submit(addType)', function(){
            $('#addType').removeAttr('lay-filter');
            $.ajax({
                type:"post",
                url:"<?=url('index/point')?>",
                data:$("#addForm").serialize(),
                success:function (result) {
                    console.log(result);
                    if(result.code == '1'){
                        layer.msg(result.msg, {icon: 1, time: 2000},function () {
                            window.location.reload();
                        });
                    }else{
                        layer.msg(result.msg, {icon: 2, time: 3000});
                    }
                },
                error:function (error) {
                    console.log(error);
                }
            })
        });

        //提交投标信息，寻求合作！
        form.on('submit(addBid)', function(){
            $('#addBid').removeAttr('lay-filter');
            $.ajax({
                type:"post",
                url:"<?=url('index/bidding')?>",
                data:$("#bidForm").serialize(),
                success:function (result) {
                    console.log(result);
                    if(result.code == '1'){
                        layer.msg(result.msg, {icon: 1, time: 2000},function () {
                            window.location.reload();
                        });
                    }else{
                        layer.msg(result.msg, {icon: 2, time: 3000});
                    }
                },
                error:function (error) {
                    console.log(error);
                }
            })
        });

        $('#typeData span:first ').addClass('btn-this');
    });
</script>
<script type="text/javascript" src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
<script>
    function getUrlParms(name){
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)
            return unescape(r[2]);
        return null;
    }
    var refer=document.referrer;
    var userIp= returnCitySN.cip;
    var laiyuan=getUrlParms("laiyuan");
    var chuangyi=getUrlParms("chuangyi");
    var curUrl = window.location.href;
    $('.laiyuan').val(laiyuan);
    $('.chuangyi').val(chuangyi);
    $('.userIp').val(userIp);
    $('.curUrl').val(curUrl);
    $('.refer').val(refer);
</script>