{include file="common/header" /}
<!--banner-->
{include file="common/banner" /}

<!-- 招标板块 -->
<div class="Bidding con clearfix">
    <!-- 右 -->
    <div class="comm-right fr">
        <!-- 面包屑 -->
        <div class="bread">
            <em>您的位置：</em>
            <span class="layui-breadcrumb" lay-separator=">">
                    <a href="<?=url('index/index')?>?mt_id={$mt_id}">{$merName}</a>
                    <a>
                        <cite>公司简介</cite>
                    </a>
                </span>
        </div>
        <!-- 公司简介内容 -->
        <div class="profile-con">
            <h2>公司简介</h2>
            <p>
                {$profile}
            </p>
        </div>
    </div>
    <!-- 招标预约框-->
    {include file="common/bidding" /}
</div>

<!-- 二级导航 -->
<!-- 服务流程 -->

{include file="common/serviceStep" /}
<!-- 页面主体结束 -->

<!-- 友情链接 -->
{include file="common/friendlink" /}

<!-- footer -->
{include file="common/footer" /}
{include file="common/bottom" /}
<script>
    layui.use(['form','jquery'] ,function(){
        var form = layui.form,
            $ = layui.jquery;
        //根据联动的省份id查找城市
        form.on('select(art_p_id)', function(data){
            var p_id=data.value;
            $.ajax({
                type: 'POST',
                url: "<?=url('admin/common/getCityName')?>?p_id="+p_id,
                data: {p_id:p_id},
                dataType:  'json',
                success: function(data){
                    console.log(data);
                    var code=data.data;
                    $("#city").html("<option value=''>城市</option>");
                    $.each(code, function(i, val) {
                        var option1 = $("<option>").val(val.c_id).text(val.c_name);
                        $("#city").append(option1);
                        form.render('select');
                    });
                    $("#city").get(0).selectedIndex=0;
                }
            });
        });
        //提交要添加的数据
        form.on('submit(addTypes)', function(){
            $('#addTypes').removeAttr('lay-filter');
            $.ajax({
                type:"post",
                url:"<?=url('index/point')?>",
                data:$("#addForm").serialize(),
                success:function (result) {
                    console.log(result);
                    if(result.code == '1'){
                        layer.msg(result.msg, {icon: 1, time: 2000},function () {
                            window.location.reload();
                        });
                    }else{
                        layer.msg(result.msg, {icon: 2, time: 3000});
                    }
                },
                error:function (error) {
                    console.log(error);
                }
            })
        });
    });
</script>
<script type="text/javascript" src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
<script>
    function getUrlParms(name){
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)
            return unescape(r[2]);
        return null;
    }
    var refer=document.referrer;
    var userIp= returnCitySN.cip;
    var laiyuan=getUrlParms("laiyuan");
    var chuangyi=getUrlParms("chuangyi");
    var curUrl = window.location.href;
    $('.laiyuan').val(laiyuan);
    $('.chuangyi').val(chuangyi);
    $('.userIp').val(userIp);
    $('.curUrl').val(curUrl);
    $('.refer').val(refer);
</script>