{include file="common/top" /}
<section id="n_banner" style="background:url(__SUPER__/statics/images/banner_n.jpg) center top no-repeat;">
    <div class="box" aos="fade-up" aos-duration="2000">
        <h2>about us</h2>
        <h1>关于我们</h1>
    </div>
</section>
<!--============================content============================= -->
<section id="n_main_box">
    <section id="n_up_box">
        <div class="main_box">
            <div id="n_nav">
                <a  class="on"  href="<?=url('index/about')?>" ><strong>公司简介</strong></a>
                <a  href="<?=url('index/step')?>" >
                    <strong>设计流程</strong>
                </a>
            </div>
            <div id="position"> <span>当前位置：</span><a href="<?=url('index/index')?>?mt_id={$merchant.mt_id}" title="">首页</a> <i> &gt; </i>
                <a href="<?=url('index/about')?>" title="">关于我们 </a> <i> &gt; </i> <em>公司简介</em>         </div>
        </div>
    </section>
    <section id="n_un_box">
        <div class="n_content main_box">
            <div class="ar_article">

                <p style="text-align: left;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <img src="__SUPER__/statics/images/pic_n_about.jpg"  style="float:right;"/>
                    <img src="__SUPER__/statics/images/name_about.png" width="253" height="50" style="width: 253px; height: 50px;"/>

                </p><p>&nbsp; &nbsp; &nbsp; &nbsp;
                中鑫盛邦实业发展有限公司是一家在地产、商业、教育、市政、生态农业、健康养生等方面全面发展的多元化平台，经营范围涉及装饰设计及施工、市政工程、弱电工程、钢结构工程、建材家居销售等。
            </p>
                <p style="text-align: left;">
                    &nbsp; &nbsp; &nbsp; &nbsp;公司在保持传统建筑装修装饰业务的前提下，与多家知名地产万科地产、碧桂园地产、凯德集团等达成配套精装修战略合作，成为装修行业地产配套精装领航军。
                </p>
                <p>
                    &nbsp; &nbsp; &nbsp; &nbsp;在与万科地产合作期间，分别和万科地产陕西区域、新疆区域、山西区域等达成区域战略合作，陕西区域代表项目有万科城、万科高新华府、万科新地城、万科金色悦城、万科金域曲江、万科金域铭城等。碧桂园地产陕西区域代表项目碧桂园凤凰城、渭南碧桂园翡翠传奇项目等，凯德集团代表项目有御锦城等项目，包含售楼部设计、售楼部施工以及公共区域施工，室内精装修等。
                </p>
                <p>&nbsp; &nbsp; &nbsp; &nbsp;
                    中鑫盛邦实业在大力发展“地产配套精装修工程”装修新模式，不断拓展大型写字楼、酒店、商场等业务范围，在不断提升房产行业内知名度的同时，扩大行业其他领域影响力。凭借专业的技术，一流的管理流程以及超标准服务，成为装饰行业规模化、专业化、市场化的地产精装领航军。曾多次被评为“诚信单位”“最佳战略合作伙伴”和“优质工程企业”等。
                </p>
                <p>&nbsp; &nbsp; &nbsp; &nbsp;
                    2018年中鑫盛邦将继续牵手合作伙伴，共同引领装饰行业新方向，缔造新奇迹。
                </p>
                <div class="clear"></div>
            </div>
        </div>
    </section>
</section>

<!--============================footer============================= -->
{include file="common/footer" /}