{include file="common/top" /}
<section id="n_banner" style="background:url(__SUPER__/statics/images/banner_n.jpg) center top no-repeat;">
    <div class="box" aos="fade-up" aos-duration="2000">
        <h2>team</h2>
        <h1>设计团队</h1>
    </div>
</section>


<!--================= end banner =================-->

<!--============================content============================= -->
<section id="n_main_box">
    <section id="n_up_box">
        <div class="main_box">
            <div id="n_nav">
                <a class="on" href="<?=url('index/designer')?>"><strong>设计团队</strong></a>
            </div>
            <div id="position"> <span>当前位置：</span><a href="<?=url('index/index')?>?mt_id={$merchant.mt_id}" title="">首页</a> <i> &gt; </i>
                <em>设计团队</em>        </div>
        </div>
    </section>
    <section id="n_un_box">
        <div class="n_content main_box">
            <section id="n_team">
                <img src="__SUPER__/statics/images/team_hot.jpg" width="100%" alt="" style="display: block; margin-bottom: 50px;" />

                <ul >
                    <li>
                        <a>
                            <img src="__SUPER__/api/thumb/941d0512fd747d5b4dff6b43f5a03edb.jpg" alt="杨艺帆" aos="slide-up" aos-duration="2000" />
                            <div class="text_box">
                                <div class="box">
                                    <h1>杨艺帆 </h1><span>创意总监 </span>
                                    <div class="p">
                                        <p>设计总监，软装设计师，高级室内建筑师，建筑装饰设计师，环境艺术设计工程师，亚太酒店协会会员，陕西省建筑装饰协会会员，陕西省室内装饰协会会员，中国室内装饰协会会员。具有丰富的设计、软装配饰经验。</p><p><br/></p>                                        </div>

                                </div>

                            </div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="__SUPER__/api/thumb/43c191c899bf91d75c308e56e22a1f78.jpg" alt="李少雷" aos="slide-up" aos-duration="2000" />
                            <div class="text_box">
                                <div class="box">
                                    <h1>李少雷 </h1><span>创意总监 </span>
                                    <div class="p">
                                        <p>高级室内建筑师，建筑装饰设计师，亚太酒店协会会员，陕西省建筑装饰协会会员，陕西省室内装饰协会会员，中国室内装饰协会会员。具有丰富的室内设计经验，曾与国内知名设计师多次交流学习。</p><p><br/></p>                                        </div>

                                </div>

                            </div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="__SUPER__/api/thumb/49b08d4e30838f9fc5bc42ca5685dd70.jpg" alt="陈韬" aos="slide-up" aos-duration="2000" />
                            <div class="text_box">
                                <div class="box">
                                    <h1>陈韬 </h1><span>创意总监 </span>
                                    <div class="p">
                                        <p>高级室内建筑师，建筑装饰设计师，亚太酒店协会会员，陕西省建筑装饰协会会员，陕西省室内装饰协会会员，中国室内装饰协会会员。从业12年间，精研高端住宅、酒店及商业地产和综合体等设计服务。本着对设计的诠释和尊重，呈现出符合时代精神和审美的设计作品。</p><p><br/></p>                                        </div>

                                </div>

                            </div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="__SUPER__/api/thumb/f6755d9d6d25fd8b80754b64cf084dfe.jpg" alt="董艾" aos="slide-up" aos-duration="2000" />
                            <div class="text_box">
                                <div class="box">
                                    <h1>董艾 </h1><span>主案设计师 </span>
                                    <div class="p">
                                        <p>软装设计师，高级室内建筑师，陕西省建筑装饰协会会员，陕西省室内装饰协会会员，中国室内装饰协会会员。<br/>具有丰富的室内设计、软装配饰经验，曾与国内知名设计师多次交流学习。</p><p><br/></p>                                        </div>

                                </div>

                            </div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="__SUPER__/api/thumb/967c3c9447ee61b88df06330972ed774.jpg" alt="王朝辉" aos="slide-up" aos-duration="2000" />
                            <div class="text_box">
                                <div class="box">
                                    <h1>王朝辉 </h1><span>主案设计师 </span>
                                    <div class="p">
                                        <p>高级室内建筑师，陕西省建筑装饰协会会员，陕西省室内装饰协会会员，中国室内装饰协会会员。<br/>具有丰富的设计、软装配饰经验，曾与国内知名设计师多次交流学习。</p><p><br/></p>                                        </div>

                                </div>

                            </div>
                        </a>
                    </li>
                    <div class="clear"></div>
                </ul>
            </section>

        </div>
    </section>
</section>
<!--============================footer============================= -->
{include file="common/footer" /}

