{include file="common/top" /}
<section id="n_banner" style="background:url(__SUPER__/statics/images/banner_n.jpg) center top no-repeat;">
    <div class="box" aos="fade-up" aos-duration="2000">
        <h2>about us</h2>
        <h1>关于我们</h1>
    </div>
</section>
<!--================= banner =================-->


<!--================= end banner =================-->

<!--============================content============================= -->
<section id="n_main_box">
    <section id="n_up_box">
        <div class="main_box">
            <div id="n_nav">
                <a  href="<?=url('index/about')?>"><strong>公司简介</strong></a>
                <a  class="on"  href="<?=url('index/step')?>"><strong>服务流程</strong></a>
            </div>
            <div id="position"> <span>当前位置：</span><a href="<?=url('index/index')?>?mt_id={$merchant.mt_id}" title="">首页</a> <i> &gt; </i>
                <a href="<?=url('index/about')?>">关于我们 </a> <i> &gt; </i> <em>服务流程</em>         </div>
        </div>
    </section>
    <section id="n_un_box">
        <div class="n_content main_box">
            <div class="ar_article">

                <p style="text-align: center;"><img id="64eb9123b6699a9ca6908bbd894f296f_img_20" src="__SUPER__/ueditor/image/20171023/1508734045226637.jpg" title="1508734045226637.jpg" alt="1.jpg"/></p>            <div class="clear"></div>
            </div>
        </div>
    </section>
</section>
<!--============================footer============================= -->
{include file="common/footer" /}