{include file="common/top" /}

<section id="n_banner" style="background:url(__SUPER__/statics/images/banner_n.jpg) center top no-repeat;">
    <div class="box" aos="fade-up" aos-duration="2000">
        <h2>RECRUIT</h2>
        <h1>企业招聘</h1>
    </div>
</section>

<!--================= end banner =================-->

<!--============================content============================= -->
<section id="n_main_box">
    <section id="n_up_box">
        <div class="main_box">
            <div id="n_nav">

                <a class="on" href="<?=url('index/wanted')?>"><strong>企业招聘</strong></a>

            </div>
            <div id="position"> <span>当前位置：</span><a href="<?=url('index/index')?>?mt_id={$merchant.mt_id}"  title="">首页</a> <i> &gt; </i>
                <em>企业招聘</em>        </div>
        </div>
    </section>
    <section id="n_un_box">
        <div class="n_content main_box">
            <section id="n_hr">
                <div class=" n_join_us main_box ">
                    <div class="left">
                        <div class="up">
                            <div class=" title_box">
                                <h1>join us</h1>
                                <h2>加入中鑫盛邦</h2>
                            </div>
                            <p>
                                中鑫盛邦以其良好的行业发展前景。独特的人才激励开发机制，广
                                阔的职业发展空间和优良的员工成长环境使公司成为人才集聚的高
                                地。并通过待遇、发展、文化和事业保证人才队伍的不断发展，在
                                实现企业发展战略目标和愿景的同时，实现每一位员工的人生价值
                                与梦想。<br>
                                中鑫盛邦，期待你的加入！
                            </p><br>

                            <p>
                                面试要求：请应聘者携带个人简历、个人作品（电子或纸质版均可）、身份证原件等相关资料。<br>

                                <!-- 简历投递：<a href="mailto:281534867@qq.com（业务） 281534867@qq.com（招聘）">281534867@qq.com（业务） 281534867@qq.com（招聘）</a>  <br> -->

                                联系电话：029-88345766          </p>

                        </div>


                    </div>
                    <div class="right">

                        <div class="content">
                            <div id="list_slide">
                                <dl>
                                    <dt  class="on"  >
                                        <h1>主案设计师</h1>
                                    </dt>
                                    <dd  style="display:block;" >
                                        <div class="content article">
                                            <p>招聘人数：5人<br/>学历要求：大专以上（包含大专）<br/>发布日期：2017年9月19日<br/>截止日期：2017年11月19日<br/>岗位要求：<br/>1.有独立主持大型项目设计经验，工作年限8-10年；<br/>2.有设计团队管理经验；编制项目设计要点及设计任务书；<br/>3.全面负责项目设计团队人员工作内容安排、管理、调配。有成熟的审美及方案鉴赏力及项目敏锐度。完成项目前期的商务内容对接及成果汇报、展示；<br/>4.负责项目设计出品品质；监管、布置设计阶段工作；独立组织、完成项目过程；督促团队为客户提供持续、优化服务；<br/>5.配合公司相关制度的编制、实施。</p>                          </div>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt  class="close" >
                                        <h1>独立设计师</h1>
                                    </dt>
                                    <dd >
                                        <div class="content article">
                                            <p>
                                            <span style=";font-family:微软雅黑;font-size:14px">
                                                <span style="font-family:微软雅黑">招聘人数：</span>5人<br/></span>
                                                <span style="font-family: 微软雅黑;">学历要求：大专以上（包含大专）<br/></span>
                                                <span style="font-family: 微软雅黑;"><span style="font-family:微软雅黑">发布日期：</span></span>
                                                <span style="font-family: 微软雅黑;">2017年9月19日<br/></span><span style="font-family: 微软雅黑;">
                                            <span style="font-family:微软雅黑">截止日期：</span></span>
                                                <span style="font-family: 微软雅黑;">2017年11月19日<br/></span>
                                                <span style="font-family: 微软雅黑;">岗位要求：<br/></span>
                                                <span style="font-family: 微软雅黑;">1、</span><span style="font-family: 微软雅黑;"><span style="font-family:微软雅黑">从事室内设计专业或相关专业，五年以上工作经验；有参与、主持大中型设计项目经验；<br/></span></span>
                                                <span style="font-family: 微软雅黑;">2、</span><span style="font-family: 微软雅黑;"><span style="font-family:微软雅黑">服从团队工作安排，有良好的团队协作精神；<br/></span></span>
                                                <span style="font-family: 微软雅黑;">3、</span><span style="font-family: 微软雅黑;"><span style="font-family:微软雅黑">监管、完成设计过程并完成过程中各节点具体工作，完善设计成果的实施性；<br/></span></span>
                                                <span style="font-family: 微软雅黑;">4、</span><span style="font-family: 微软雅黑;"><span style="font-family:微软雅黑">完成项目各阶段工作</span></span>
                                                <span style="font-family: 微软雅黑;"><span style="font-family:微软雅黑">：</span></span><span style="font-family: 微软雅黑;"><span style="font-family:微软雅黑">提案、方案、设计成果展示等各阶段、节点工作的部署和工作内容，建立顺畅、良好、高效的工作流程；<br/></span></span>
                                                <span style="font-family: 微软雅黑;">5、</span><span style="font-family: 微软雅黑;"><span style="font-family:微软雅黑">负责施工图前工作对接及施工交底；<br/></span></span>
                                                <span style="font-family: 微软雅黑;">6、</span><span style="font-family: 微软雅黑;"><span style="font-family:微软雅黑">对公司各项目、各项目组方案提出良好的构思及建议</span></span><span style="font-family: 微软雅黑;"><span style="font-family:微软雅黑">；</span></span><span style="font-family: 微软雅黑;">&nbsp;<br/></span>
                                                <span style="font-family: 微软雅黑;">7、</span><span style="font-family: 微软雅黑;"><span style="font-family:微软雅黑">熟练掌握行业相关软件，</span>CAD、PS等；</span><span style="font-family: 微软雅黑;"><span style="font-family:微软雅黑">具有</span></span><span style="font-family: 微软雅黑;"><span style="font-family:微软雅黑">良好的美学基础（色彩、构图、灯光），专业水平娴熟，基本功扎实、平面能力强；<br/></span></span>
                                                <span style="font-family: 微软雅黑;">8、</span><span style="font-family: 微软雅黑;"><span style="font-family:微软雅黑">成熟的审美及鉴赏力，有较高的设计前瞻性</span></span><span style="font-family: 微软雅黑;"><span style="font-family:微软雅黑">；</span></span><span style="font-family: 微软雅黑;"><span style="font-family:微软雅黑">熟悉项目设计流程及各设计阶段节点</span></span><span style="font-family: 微软雅黑;"><span style="font-family:微软雅黑">的</span></span><span style="font-family: 微软雅黑;"><span style="font-family:微软雅黑">工作内容；<br/></span></span>
                                                <span style="font-family: 微软雅黑;">9<span style="font-family: 微软雅黑; background-color: rgb(255, 255, 255);">、</span>对项目有高度的责任心，设计行业有较为成熟的认知，有较强的方案执行力和理解能力</span><span style="font-family: 微软雅黑;"><span style="font-family:微软雅黑">。</span></span></p><p><br/></p>                          </div>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt  class="close" >
                                        <h1>设计师</h1>
                                    </dt>
                                    <dd >
                                        <div class="content article">
                                            <p>
                                                <span style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">招聘人数：</span>5人<br/></span>
                                                <span style="font-family: 微软雅黑;">学历要求：大专以上（包含大专）<br/></span><span style="font-family: 微软雅黑;">发布日期：</span><span style="font-family: 微软雅黑;">2017年9月19日<br/></span>
                                                <span style="font-family: 微软雅黑;">截止日期：</span><span style="font-family: 微软雅黑;">2017年11月19日<br/></span><span style="font-family: 微软雅黑;">岗位要求：<br/></span>
                                                <span style="font-family: 微软雅黑;">1、</span><span style="font-family: 微软雅黑;"><span style="font-family:微软雅黑">室内设计专业或相关专业，三年以上工作经验；<br/></span></span>
                                                <span style="font-family: 微软雅黑;">2、</span><span style="font-family: 微软雅黑;"><span style="font-family:微软雅黑">服从团队工作安排</span></span><span style="font-family: 微软雅黑;"><span style="font-family:微软雅黑">；</span></span><span style="font-family: 微软雅黑;"><span style="font-family:微软雅黑">完成上级安排的工作，充分发挥主观能动性于方案中提出平面方案化、空间创意、构思；<br/></span></span>
                                                <span style="font-family: 微软雅黑;">3、</span><span style="font-family: 微软雅黑;"><span style="font-family:微软雅黑">熟练掌握设计规范、法规，配合方案设计师完成项目各阶段工作</span></span><span style="font-family: 微软雅黑;"><span style="font-family:微软雅黑">，</span></span><span style="font-family: 微软雅黑;"><span style="font-family:微软雅黑">提案</span></span><span style="font-family: 微软雅黑;"><span style="font-family:微软雅黑">、</span></span><span style="font-family: 微软雅黑;"><span style="font-family:微软雅黑">方案</span></span><span style="font-family: 微软雅黑;"><span style="font-family:微软雅黑">、</span></span><span style="font-family: 微软雅黑;"><span style="font-family:微软雅黑">设计成果展示等各阶段工作。确保项目方案优质、高效实施；<br/></span></span>
                                                <span style="font-family: 微软雅黑;">4、</span><span style="font-family: 微软雅黑;"><span style="font-family:微软雅黑">配合公司各部门、各专业进行相关工作的执行和协作；<br/></span></span>
                                                <span style="font-family: 微软雅黑;">5、</span><span style="font-family: 微软雅黑;"><span style="font-family:微软雅黑">对公司各项目、各项目组方案提出良好的构思及建议</span></span><span style="font-family: 微软雅黑;"><span style="font-family:微软雅黑">；<br/></span></span>
                                                <span style="font-family: 微软雅黑;">6、</span><span style="font-family: 微软雅黑;"><span style="font-family:微软雅黑">熟练掌握行业相关软件，</span>CAD、PS等；<br/></span>
                                                <span style="font-family: 微软雅黑;">7、</span><span style="font-family: 微软雅黑;"><span style="font-family:微软雅黑">对设计行业有较为成熟的认知，有较强的方案执行力和理解能力</span></span><span style="font-family: 微软雅黑;"><span style="font-family:微软雅黑">；</span></span><span style="font-family: 微软雅黑;">&nbsp;<br/></span>
                                                <span style="font-family: 微软雅黑;">8、</span><span style="font-family: 微软雅黑;"><span style="font-family:微软雅黑">能够协助完成设计部基本工作及分派工作内容；<br/></span></span>
                                                <span style="font-family: 微软雅黑;">9、</span><span style="font-family: 微软雅黑;"><span style="font-family:微软雅黑">良好的团队协作精神，踏实、肯干。</span></span>
                                            </p>
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt  class="close" >
                                        <h1>设计师助理/实习设计师</h1>
                                    </dt>
                                    <dd >
                                        <div class="content article">
                                            <p>招聘人数：5人<br/>学历要求：大专以上（包含大专）<br/>发布日期：2017年9月19日<br/>截止日期：2017年11月19日<br/>岗位要求：<br/>1、室内设计专业或相关专业，一年以上工作经验；<br/>2、服从团队工作安排，在上级指导下可以一定程度上完成上级安排的基础工作；<br/>3、协助设计师完成平面方案细化。<br/>4、熟练掌握行业相关软件，CAD、PS等；掌握基本设计规范、法规；<br/>5、能够协助设计师完成设计部日常基本工作；<br/>6、良好的团队协作精神，踏实、肯干。</p>                          </div>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt  class="close" >
                                        <h1>CAD施工图制作（工装）</h1>
                                    </dt>
                                    <dd >
                                        <div class="content article">
                                            <p>招聘人数：3人<br/>学历要求：不限<br/>发布日期：2017年9月11日<br/>截止日期：2017年11月11日<br/>岗位要求：<br/>1、一年以上施工图绘制经验，能独立完成大型室内设计施工图项目； <br/>2、品行好，踏实肯干，有职业责任感和团队协作精神；<br/>3、与相关专业公司及公司其他部门协调工作；<br/>4、负责设计方案、设计图纸的变更和修改工作；<br/>5、负责在施工期间对装饰施工进行监督、跟踪，以确保所有工程按图施工；<br/>6、完成领导交办的其它工作。</p>                          </div>
                                    </dd>
                                </dl>

                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    </p>
                </div>

            </section>
        </div>
    </section>
</section>

<!--============================footer============================= -->
{include file="common/footer" /}