<div class="layui-side layui-bg-black" style="top: 120px!important;">
    <div class="layui-side-scroll">

        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree"  lay-filter="test">
            <li class="layui-nav-item">
                <a href="javascript:;">预约管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">预约客户</a></dd>
                    <dd><a href="javascript:;">合作客服</a></dd>
                    <dd><a href="javascript:;">渠道客户</a></dd>
                    <dd><a href="javascript:;">回收站</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">分配管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">待分配项目</a></dd>
                    <dd><a href="javascript:;">未确认项目</a></dd>
                    <dd><a href="javascript:;">已签约项目</a></dd>
                    <dd><a href="javascript:;">已失效</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>