<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>公装护航管理系统</title>
    <link rel="stylesheet" href="__LAY__/css/layui.css">
    <style>
        .nav-item{
            padding-left: 10px;
            padding-right: 10px;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin" >
    <div class="layui-header" style="border-bottom: 2px solid #009688;">
        <div class="layui-logo">{$platName}平台管理</div>
        <ul class="layui-nav layui-layout-left">
            <div style="line-height: 60px;">
                <span>欢迎您，{$adminRoleName} &nbsp;&nbsp;&nbsp;&nbsp;
                    总站-{$adminData.ad_realname}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IP：{$ipInfo.ip}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$ipInfo.region}-{$ipInfo.city}</span>
            </div>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item nav-item"><a style="padding-left: 0px !important;font-size: smaller" href="javascript:location.reload();" >后台主页</a></li>
            <li class="layui-nav-item nav-item"><a style="padding-left: 0px !important;font-size: smaller"  href="{$adminUrl}" target="_blank">打开首页</a></li>
            <li class="layui-nav-item nav-item"><a style="padding-left: 0px !important;font-size: smaller"  id="resetPwd">修改账户</a></li>
            <li class="layui-nav-item nav-item"><a style="padding-left: 0px !important;font-size: smaller"  href="<?=url('login/loginOut')?>">退出登录</a></li>
        </ul>
    </div>
    <div class="layui-header">
        <ul class="layui-nav layui-layout-left" style="left: 0px!important;">
            <li class="layui-nav-item" style="padding-left: 20px;margin-right: 55px;"><a href="<?=url('index/index')?>" style="font-size: 14px;">起始页</a></li>
        </ul>
        <ul class="layui-nav layui-layout-left" style="left: 220px!important;">
            <li class="layui-nav-item"><a href="<?=url('user/welcome')?>">客户管理</a></li>
            <!--<li class="layui-nav-item"><a href="<?=url('merchant/welcome')?>">会员管理</a></li>-->
            <!--<li class="layui-nav-item"><a href="<?=url('operate/welcome')?>">会员运营</a></li>-->
            <li class="layui-nav-item"><a href="<?=url('platform/welcome')?>">平台运营</a></li>
            <li class="layui-nav-item"><a href="<?=url('admin/welcome')?>">人员管理</a></li>
            <li class="layui-nav-item"><a href="<?=url('setup/welcome')?>">平台设置</a></li>
            <li class="layui-nav-item"><a href="<?=url('setinfo/welcome')?>">系统配置</a></li>
        </ul>
    </div>