{include file="common/header" /}
<style>
    .one-pan{
        position: relative;
    }
    .one{
        position: absolute;
        left:300px;
        top:0;
    }
    .logoPre{
        width: 216px;
        height: 150px;
    }
    .casePre{
        display:none;
    }
</style>
<div class="layui-body" style="margin-top: 60px">
    <div style="margin-top: 5px;margin-bottom: 3px;">
    <span class="layui-breadcrumb" lay-separator=">">
        <a>运营管理</a>
        <a>内容管理</a>
        <a href="<?=url('platform/honor')?>">荣誉资质</a>
        <a><cite>修改资质</cite></a>
    </span>
        <div style="float:right;margin-right:20px;margin-bottom: 12px;">
            <a class="layui-btn layui-btn-primary layui-btn-sm" href="<?=url('platform/honor')?>">
                <i class="layui-icon layui-icon-return"></i>
                返回列表
            </a>
        </div>
    </div>
    <hr/>
    <div style="padding: 15px;">
        <form class="layui-form layui-form-pane1" id="addForm">
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red;">*</span>基础信息</label>
                <div class="layui-input-inline">
                    <select name="h_p_id" ay-verify="required" lay-filter="art_p_id">
                        <option value="">请选择省份</option>
                        {volist name='prov' id='vo'}
                        <option value="{$vo.p_id}" {if condition="$honor.h_p_id eq $vo.p_id"}selected{/if}>{$vo.p_name}</option>
                        {/volist}
                    </select>
                </div>
                <div class="layui-input-inline">
                    <select name="h_c_id" lay-verify="required" id="art_c_id" lay-filter="art_c_id">
                        <option value="">请选择城市</option>
                        {volist name='city' id='vo'}
                        <option value="{$vo.c_id}" {if condition="$vo.c_id eq $honor.h_c_id"}selected{/if}>{$vo.c_name}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red;">*</span>商户名称</label>
                <div class="layui-input-inline">
                    <select name="h_m_id" id="art_m_id" lay-filter="art_m_id" lay-search="">
                        <option value="">请选择</option>
                        {volist name='merchant' id='vos'}
                        <option value="{$vos.mt_id}" {if condition="$vos.mt_id eq $honor.h_m_id"}selected{/if}>{$vos.mt_short_name}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red;">*</span>资质名称</label>
                <div class="layui-input-block">
                    <input type="text" name="h_name" value="{$honor.h_name}" lay-verify="required|title" placeholder="请输入资质名称" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item one-pan">
                <label class="layui-form-label"><span style="color: red;">*</span>资质图片</label>
                <div {if condition="$honor.h_img eq null"}class="layui-upload-drag"{/if} id="uploadLogo1" style="display:inline-block;">
                <image
                        {if condition="$honor.h_img eq null"}
                        {else/}
                src="__PUBLICS__{$honor.h_img}"
                class="logoPre"
                {/if}
                id="logoPre">
                <input type="hidden" lay-verify="imgReg" name="h_img" id="h_img" value="{$honor.h_img}"/>
                </image>
                <div {if condition="$honor.h_img eq null"} {else/}class="casePre" {/if} id="casePre1" >
                <i class="layui-icon"></i>
                <p>请点击此处上传封面图片</p>
            </div>
            </div>
                <div class="one">
                    <div class="layui-form-mid layui-word-aux" style="margin-left: 39px; ">图片要求：1200*800px，最大1024KB，支持JPG/JEPG/PNG格式。</div>
                    <div class="layui-form-item">
                        <textarea name="h_img_alt" style="resize:none;width: 1315px;height: 115px; margin-left:39px;"  placeholder="图片描述，建议不超过15个字（等同图片ALT属性）" class="layui-textarea">{$honor.h_img_alt}</textarea>
                    </div>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">资质介绍</label>
                <div class="layui-input-block">
                    <textarea name="h_remarks" placeholder="请输入资质介绍" class="layui-textarea">{$honor.h_remarks}</textarea>
                </div>
            </div>
            <div class="layui-form-item" pane>
                <label class="layui-form-label">审核状态</label>
                <div class="layui-input-block">
                    <input type="radio" name="h_status" value="1" title="待审核" {if condition="$honor.h_status eq 1"}checked{/if}>
                    <input type="radio" name="h_status" value="2" title="通过" {if condition="$honor.h_status eq 2"}checked{/if}>
                    <input type="radio" name="h_status" value="3" title="驳回" {if condition="$honor.h_status eq 3"}checked{/if}>
                </div>
            </div>
            <div class="layui-form-item layui-form-text" id="remarks" {if condition="$honor.h_status neq 3"}style="display: none"{/if}>
                <label class="layui-form-label"><span style="color: red;">*</span>审核备注</label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入审核备注" id="h_tip" name="h_tip" class="layui-textarea">{$honor.h_tip}</textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <span class="layui-btn" id="addType" lay-submit lay-filter="addType">修改</span>
                    <a class="layui-btn layui-btn-primary" href="<?=url('platform/honor')?>">返回</a>
                </div>
            </div>
        </form>
    </div>
</div>
{include file="common/footer" /}
<script>
    layui.use(['form','upload','jquery','upload'] ,function(){
        var form = layui.form,
            upload = layui.upload,
            $ = layui.jquery;
        form.on('radio', function(data){
            var case_status=data.value;
            if(case_status == 3){
                $('#remarks').show();
                $('#h_tip').attr('lay-verify',"required");
            }else{
                $('#remarks').hide();
                $('#h_tip').removeAttr('lay-verify');
            }
        });
        //图片上传
        upload.render({
            elem: '#uploadLogo1'
            ,url: '{:url("platform/upload")}'
            ,size:600 //限制文件大小，单位 KB
            ,ext: 'jpg|png|gif'
            ,accept: 'images' //限制文件大小，单位 KB
            ,before: function(input){
                loading = layer.load(2, {
                    shade: [0.2,'#000']
                });
            }
            ,done: function(res){
                $('#logoPre').removeAttr('src');
                $('#h_img').val('');
                console.log(res);
                layer.close(loading);
                $('#h_img').val(res.path);
                $('#uploadLogo1').removeClass('layui-upload-drag');
                $('#logoPre').css('width','216px');
                $('#logoPre').css('height','150px');
                $('#logoPre').attr('src',"__PUBLICS__"+res.path);
                $('#display').hide();
                layer.msg(res.msg, {icon: 1, time: 1000});
            }
            ,error: function(res){
                layer.msg(res.msg, {icon: 2, time: 1000});
            }
        });
        //根据联动的省份id查找城市
        form.on('select(art_p_id)', function(data){
            var p_id=data.value;
            $.ajax({
                type: 'POST',
                url: "<?=url('common/getCityName')?>?p_id="+p_id,
                data: {p_id:p_id},
                dataType:  'json',
                success: function(data){
                    console.log(data);
                    var code=data.data;
                    $("#art_c_id").html("<option value=''>请选择城市</option>");
                    $("#art_m_id").html("<option value=''>请选择或搜索商户</option>");
                    $.each(code, function(i, val) {
                        var option1 = $("<option>").val(val.c_id).text(val.c_name);
                        $("#art_c_id").append(option1);
                        form.render('select');
                    });
                    $("#art_c_id").get(0).selectedIndex=0;
                }
            });
        });
        //根据城市的id去查找商户
        form.on('select(art_c_id)', function(data){
            var c_id=data.value;
            $.ajax({
                type: 'POST',
                url: "<?=url('common/getMerchantName')?>?b_id="+c_id,
                data: {c_id:c_id},
                dataType:  'json',
                success: function(data){
                    console.log(data);
                    var code=data.data;
                    $("#art_m_id").html("<option value=''>请选择或搜索商户</option>");
                    $.each(code, function(i, val) {
                        var option1 = $("<option>").val(val.mt_id).text(val.mt_short_name);
                        $("#art_m_id").append(option1);
                        form.render('select');
                    });
                    $("#art_m_id").get(0).selectedIndex=0;
                }
            });
        });
        //自定义验证规则
        form.verify({
            title: function(value){
                if(value.length < 2){
                    return '至少得2个字符啊';
                }
            }
            ,imgReg:function (value) {
                if(value.length <= 0){
                    return '请上传资质面图';
                }
            }
        });
        //提交要添加的数据
        form.on('submit(addType)', function(){
            $('#addType').removeAttr('lay-filter');
            $.ajax({
                'type':"post",
                'url':"<?=url('platform/editHonor')?>?h_id={$honor.h_id}",
                'data':$('#addForm').serialize(),
                'success':function (result) {
                    if(result.code == '1'){
                        layer.msg(result.msg, {icon: 1, time: 2000},function () {
                            location.href="<?=url('platform/honor')?>";
                        });
                    }else if(result.code == '2'){
                        layer.msg(result.msg, {icon: 2, time: 3000});
                    }else if(result.code == '3'){
                        layer.msg(result.msg, {icon: 3, time: 3000});
                    }
                },
                'error':function (error) {
                    console.log(error);
                }
            })
        });
    });
</script>
